[2020-01-28 04:42] roberto-robles opened #1 "Candidate form - Industry dropdown doesn't show stored value"
Steps to reproduce:
1. Open gtalents.tech > Home > Create new candidate
2.  Set Industry to Civil Engineer
3. Fill rest if fields, Save (Create)
4. Edit new record from My Candidates tab on Home.
5. [BUG] Industry field is set to the first value available in the form.
6. [BUG] Go to My Candidates, click view, Industry shows correct value  but in Spanish, even if the rest of the site is using Engli

[2020-01-28 04:52] roberto-robles opened #2 "Opportunities > Supplier shows closed vacancy records"
1. Go to http://gtalents.tech/vacancies/list/supplier
2 Search for QA, order by Date.
3. At the bottom you will see records 146 and 147 with the same values even if the record 146 was set to closed  on the DB
<img width="620" alt="Screen Shot 2020-01-27 at 8 51 45 PM" src="https://user-images.githubusercontent.com/1258100/73236339-df69f200-4146-11ea-9083-709fa855dfeb.png">

[2020-01-29 05:41] shaunakwyn commented on #1
Hello @roberto-robles  :smiley:  ,

![image](https://user-images.githubusercontent.com/42769743/73330542-0fb8aa00-4287-11ea-9be4-03368a9bcdf6.png)

![image](https://user-images.githubusercontent.com/42769743/73330554-1b0bd580-4287-11ea-917e-cca3fbebaa65.png)

Please check and acknowledge... :

[2020-01-29 06:08] shaunakwyn commented on #2
Hey @roberto-robles :smiley: ,

There is a lots of bugs, errors and confusions created by previous developers. So, I don't know about in which conditions and cases "Job Opportunities" needs shows in this list.

Please describe those cases and conditions in which we have to display those "Job Opportunities". then after I will set those conditions for that.

I'm waiting for your answer... :blush:

[2020-01-30 01:45] roberto-robles commented on #1
@shaunakwyn this appears to be fixed in alpha! Thanks!

[2020-01-30 01:45] #1 closed

[2020-01-30 01:46] roberto-robles commented on #2
Will discuss this with the team and get back at you.

[2020-01-31 04:55] roberto-robles opened #3 "test issue"
- step 1: log into site
foo bar

[2020-01-31 05:23] roberto-robles commented on #3
THis was fixed on https://github.com/http-gtalents-tech/gTalents/pull/6

[2020-01-31 05:23] #3 closed

[2020-01-31 05:32] roberto-robles commented on #2
Let's filter out vacancies which status are 3 or 4 as we don't want to show closed or inactive vacancies on the search results:

![Screen Shot 2020-01-30 at 9 31 59 PM](https://user-images.githubusercontent.com/1258100/73514851-0d01a600-43a8-11ea-8a4e-c33133835e4a.png)

[2020-02-04 05:00] shaunakwyn commented on #2
@roberto-robles ,
Filter for vacancies to display in **active & pending status** only is now applied.

Please check and acknowledge :blush:

[2020-02-04 16:59] e0003727 opened #7 "General / Spelling Errors"
We have a number of spelling errors that will be placed over here in the following comments...

[2020-02-04 17:54] gTalents-Sergio opened #8 "Dashboard / Potential Revenues Calculation Error"
The sum of the potential revenues should be as follows:
Sum all projects: ("Approximate Total Billing") * ("user's % of commission (per rank)")
Example:
Approximate Total Billing: $10,000
User's % of Commission: 40%
Potential Revenues = $4,000
Sum all Potential Revenues equally, as Poster or as Supplier

[2020-02-04 19:15] gTalents-Sergio opened #9 "Whoops Screen"
In the Dashboard, displaying a Job Opportunity as Poster.
Link seems to be broken.
![2020-02-04 (2)_LI](https://user-images.githubusercontent.com/60664540/73777976-670fbc00-4758-11ea-8a58-0775914a7b83.jpg)
#3

[2020-02-05 06:55] roberto-robles commented on #2
@shaunakwyn confirmed issue fixed in alpha, could you please proceed to deploy into production? Same with the industries fix on Candidate form that you fixed last week. Please confirm when done so I can close this issue.

[2020-02-05 12:48] shaunakwyn commented on #2
Both previously solved issues **deployed** to Live.

and Please make sure to get the confirmation about deploying every issue to Live after completion. :smile:

[2020-02-06 04:19] roberto-robles commented on #2
Both issues are resolved in production, closing this issue now.

[2020-02-06 04:19] #2 closed

[2020-02-06 10:56] shaunakwyn commented on #8
Hey @gTalents-Sergio ,
      Previously Juan suggested to take an average of all project's potential revenues. This discussion made in that [Google Sheet](https://docs.google.com/spreadsheets/d/1Nb-Rk1e37s1uYiLH9Tanm56xY_2_mHlj0qfs8AevQqY/edit?pli=1#gid=693717705&range=A1) .

So, Please confirm it. Then we will change equation again. :smile:

[2020-02-06 11:19] shaunakwyn commented on #9
in which case link broken? for which Job Opportunity?
because for me it's working fine.

please check below video :
https://drive.google.com/file/d/1KQzIiZWqCyfpHA00vXkkuCqRUP3VggXp/view

[2020-02-06 14:29] gTalents-Sergio commented on #8
Hi Shaunak, the total potential revenues must be *the sum* of all projects,
not the average.

Sorry for the confusion and thanks for your help.

Sergio Larios
Co-Founder
+52 1 55 8233 6303
www.gtalents.tech

Exchanging the right Talent among Recruiting Experts

El jue., 6 feb. 2020 a las 5:56, shaunak patel (<notifications@github.com>)
escribió:

[2020-02-06 14:36] gTalents-Sergio commented on #9
It doesn't work on mine, vacancies 147 and 157 (the only 2 actives I have).
I cleaned cache and cookies and change the browser and still receiving
the same error message.

Sergio Larios
Co-Founder
+52 1 55 8233 6303
www.gtalents.tech

Exchanging the right Talent among Recruiting Experts

El jue., 6 feb. 2020 a las 6:19, shaunak patel (<notifications@github.com>)
escribió:

[2020-02-07 07:39] shaunakwyn commented on #9
For vacancy 147, now it's working. Please check video.
**[Video Link](https://drive.google.com/file/d/10EsBNS3sNr9XaUj0jAM7bbFK102KUIHZ/view)**

And I'm not able to find vacancy with id 157. can you link it?
Please provide vacancy name or link.

Thank You.

[2020-02-07 07:43] shaunakwyn commented on #8
Total potential revenues is now calculated based on ** SUM ** of all projects.

Please check and acknowledge the confirmation about making this point on Live site.  :smile:

[2020-02-07 15:19] gTalents-Sergio commented on #9
Hi, sorry it was 154 but it is working now. Thanks!

Sergio Larios
Co-Founder
+52 1 55 8233 6303
www.gtalents.tech

Exchanging the right Talent among Recruiting Experts

El vie., 7 feb. 2020 a las 2:39, shaunak patel (<notifications@github.com>)
escribió:

[2020-02-07 15:29] gTalents-Sergio commented on #8
Hi, I am still encountering a calculation error.

Example:
For vacancy 154:
Approx Total Billing $8,550 * 42% (my commision as Poster) = $3,591
Vacancy 147
Approx Total Billing $15,000 * 42% = $6,300

So the sum of these two projects should be: $9,891

At the dashboard, the Potential Revenues displays $7,368.38

[image: image.png]

By the way, the chat icon is in Spanish (should say "Help" instead

[2020-02-08 04:47] shaunakwyn commented on #9
Great @gTalents-Sergio ,

And it's implemented on both alpha as well as on Live one. Please check on both and acknowledge.

Thank You :smile:

[2020-02-08 05:11] shaunakwyn commented on #8
Hey @gTalents-Sergio ,
can share your login id and password? so, I can login into your account and check this issue.

[2020-02-09 06:05] roberto-robles commented on #7
- [ ] "View All Notification" -> **View all notifications** [Bell Icon on top right corner]
 - [ ] "Cases you want to receive emails from us" -> **In case you want to receive updates from us** [Edit profile]
- [ ] "I want to receive a mail When a user receives a new message @ gTalents chat" - **When there's an "@ mention" on the gTalents chat**
- [ ] "Mail Notification" - **Email notifications** o

[2020-02-10 07:51] roberto-robles commented on #9
@shaunakwyn is this fix part of the code that you shared last week? I want to compare the changes with the version on github.

[2020-02-10 16:08] gTalents-Sergio commented on #8
Hi Shaunak,

Please share the formulas that we reviewed together so we can check them again and make any necessary adjustments. We recorded on Skype video that it was the SUM and not the AVG.

Thanks for your help.

Juan

De: Sergio Larios <sergio@gtalents.tech>
Enviado el: Thursday, February 6, 2020 4:30 PM
Para: http-gtalents-tech/gTalents <reply@reply.github.com>; Juan Carlos Jaramillo <juan@gt

[2020-02-10 16:30] e0003727 opened #10 "Shortern text - Read More option missing"
Before the latest Alpha version released, we saw that a 'Read More...' option was already available but seems to be missing.

![image](https://user-images.githubusercontent.com/60405534/74169036-52896300-4c33-11ea-8971-f8809db676a6.png)

[2020-02-11 04:07] roberto-robles opened #11 "Admin > Users - Filter is not persistent when using pagination"
1. Login into admin
2. Go to Users http://alpha.gtalents.tech/user
3. Use dropdown to show only Active Users.
4. You'll see that only active users are shown
5. Click on the  page 2 link  to go to the 2nd page and you will see all users again.

<img width="1368" alt="Screen Shot 2020-02-10 at 8 05 42 PM" src="https://user-images.githubusercontent.com/1258100/74210485-d3029080-4c40-11ea-8c98-4b56080

[2020-02-11 06:22] shaunakwyn commented on #9
Okay @roberto-robles ,

How can I help you for that...?

[2020-02-11 06:36] shaunakwyn commented on #8
Hello @roberto-robles ,
we applied below logic for poster :

and same for supplier one...

[2020-02-11 16:06] gTalents-Sergio opened #12 "Commissions per User"
The commissions per user will increase depending how the user climbs ranks through cummulating gT Points. Now, there is an important error:

I am now a Hiring Pro (Level 2) and have higher commissions but when a Newbie (Level 1) user sees one of my posts, my commission split is been displayed instead of his/her.

Hiring Pro Commissions: Supplier 41% - Poster 42%
Newbie Commissions: Supplier 40% -

[2020-02-12 06:33] shaunakwyn commented on #12
Hey @gTalents-Sergio ,

if I'm going to check one of your post as a supplier then in that post it shows your
**Hiring Pro Commissions: Supplier 41% - Poster 42%**

![image](https://user-images.githubusercontent.com/42769743/74308550-85943980-4d8e-11ea-91dc-7829773d1b97.png)

---

instead of that we have to display supplier's own commissions, right?
in above example, if I'm a Newbie (Level 1) then

[2020-02-12 10:10] shaunakwyn commented on #10
**"Shortern text"** is **solved** now please check and acknowledge.

Thank you :smile:

[2020-02-12 11:20] shaunakwyn commented on #7
- [x]  "View All Notification" -> View all notifications [Bell Icon on top right corner]
- [x]  "Cases you want to receive emails from us" -> In case you want to receive updates from us [Edit profile]

- [x]  "Mail Notification" - Email notifications or just Notifications

- [x] "Forget your password?" -> I don't want to forget, I just forgot... Forgot password

[2020-02-12 11:27] shaunakwyn commented on #7
Hey @roberto-robles ,

- **"I want to receive a mail when my candidate Rejects." -> One of my candidates rejects**
Poster can able to rejects candidates but there is no way in system flow where candidates able to rejects poster offer.

if I miss something then please guide about it.

Thank you.

[2020-02-12 13:25] shaunakwyn commented on #7
Hey @roberto-robles ,
- **"I want to receive a mail when candidate approved by poster." -> One of my candidates is approved by poster**
- **"I want to receive a mail when new supplier interested for vacancy." -> A new supplier is interested in one of my vacancies**

**Is there any specific condition for this two email notifications or we have to mailed all time?**
because previously there is a con

[2020-02-12 13:28] shaunakwyn commented on #7
Hey @roberto-robles ,

- **"I want to receive a mail when poster received candidates from supplier for vacancy." -> A vacancy received new candidates from supplier**

This point is already working.

[2020-02-13 04:32] roberto-robles commented on #7
@shaunakwyn please don't change this spelling errors yet! We need to discuss with the rest of the team, from now on please only work on issues that are confirmed by me or the rest of the team, could you please revert the changes that you did until we finalize how do we want to address the transalation?

[2020-02-13 04:50] shaunakwyn commented on #7
Okay @roberto-robles .

this changes applied in alpha version only and I revert those all.

[2020-02-13 05:05] roberto-robles commented on #12
@shaunakwyn is this fixed on alpha? I still see the same issue there.

[2020-02-13 05:09] roberto-robles commented on #12
In alpha and prod the issue persist for me, I am a newbie and see commissions greater than 40%, please see attached screenshots:

<img width="1230" alt="Screen Shot 2020-02-12 at 9 07 25 PM" src="https://user-images.githubusercontent.com/1258100/74403390-e138e400-4ddb-11ea-9540-3fe0310d027f.png">
<img width="972" alt="Screen Shot 2020-02-12 at 9 08 49 PM" src="https://user-images.githubusercontent

[2020-02-13 05:54] shaunakwyn commented on #12
No @roberto-robles  not yet.

It's not fixed on alpha. I just want to get confirm by above images that what exactly client wants.
 so, if [above](https://github.com/http-gtalents-tech/gTalents/issues/12#issuecomment-585052849) logic is confirm then I apply that logic on alpha.

wait for your confirmation?

[2020-02-13 06:09] roberto-robles commented on #12
Got it, I think we're on the same page now, please apply the fix in alpha and let us know when it's done. So we can test with multiple users before moving into prod.

[2020-02-13 06:14] shaunakwyn commented on #12
Okay @roberto-robles .

[2020-02-13 11:44] shaunakwyn commented on #12
@roberto-robles this issue is fixed now in alpha version please check.

waiting for confirmation to move it's to Live.

[2020-02-13 13:59] gTalents-Sergio commented on #12
Thank you!

[2020-02-13 14:31] gTalents-Sergio opened #13 "Update User Agreement on Platform"
Please update the User Agreement on the platform:
Attached the last version. Thanks.
[gTalents User Agreement 2020.pdf](https://github.com/http-gtalents-tech/gTalents/files/4198850/gTalents.User.Agreement.2020.pdf)

[2020-02-14 06:37] roberto-robles commented on #13
@shaunakwyn could you please help with this? Please apply the new UA on alpha first so Sergio can verify it.

[2020-02-14 06:40] roberto-robles commented on #9
I am closing this issue, but please send the update of the files that were changed as part of this fix.

[2020-02-14 06:40] #9 closed, assigned to nobody

[2020-02-14 06:50] roberto-robles commented on #13
Verified on alpha, as soon as new UA is in prod I'll close this issue.

[2020-02-14 06:50] shaunakwyn commented on #13
Updated on Live.

[2020-02-14 06:55] #13 closed, assigned to nobody

[2020-02-14 07:00] roberto-robles commented on #10
@e0003727 can you confirm if it looks good on your end,Shaunak sent me some screenshots but I still cannot see it on my end due to lack of valid vacancies and suppliers.

[2020-02-14 07:09] roberto-robles commented on #10
Confirmed that is fixed in alpha, I cannot confirm it in prod as I need to create a valid opportunity, I don't want to create garbage data on the production database, so if Juan @e0003727  can confirm that it works for him now, then we'll close this  issue

[2020-02-14 07:13] roberto-robles commented on #12
Looks good on alpha, please deploy into prod @shaunakwyn ! 👍

[2020-02-14 13:14] shaunakwyn commented on #12
Deployed on Live.
Please check and close the issue. :smile:

[2020-02-14 15:33] gTalents-Sergio commented on #12
Thank you guys!

Sergio Larios
Co-Founder
+52 1 55 8233 6303
www.gtalents.tech

Exchanging the right Talent among Recruiting Experts

El vie., 14 feb. 2020 a las 8:14, shaunak patel (<notifications@github.com>)
escribió:

[2020-02-17 14:06] e0003727 commented on #10
Hello guys, I see it shortern but cannot find in prod the 'Read More' option...

![image](https://user-images.githubusercontent.com/60405534/74668069-20d14880-51ad-11ea-8be2-c7596a1d003e.png)

[2020-02-17 15:40] roberto-robles commented on #12
<img width="1508" alt="Screen Shot 2020-02-17 at 7 39 48 AM" src="https://user-images.githubusercontent.com/1258100/74667734-b393c800-5158-11ea-9c09-a77a56d3de71.png">
 According to Sergio the calculation is still wrong.

[2020-02-17 15:41] roberto-robles commented on #12
The percentage seems to be right but the issue on the number for total billing remains.

[2020-02-17 15:57] gTalents-Sergio commented on #12
There is an important discrepancy on the calculations:

Approximate Total Billing, should be the same for all users as it does not depend on the commissions, it is the total fee generated pero project.

There are two formulas and are quite simple:

1. When the fee is a Percentage then:
Average Salary: USD 90 to 100K (Average is USD 95,000)
Total Search Fee: 9%
Then, Approximate Total Billing is 95

[2020-02-17 16:08] roberto-robles commented on #10
@shaunakwyn it seems that the issue persist in production, we see in the Opportunity page that the read more isn't working as expected in production.

[2020-02-17 16:17] roberto-robles opened #14 "Add filter by Date on Admin > Vacancies"

[2020-02-17 16:35] e0003727 opened #15 "Users with no points reduction"
While erasing one of the Poster's job opening from gT, we noticed that no points reductions were applied to the user profile nor to any of his company teammates.

![image](https://user-images.githubusercontent.com/60405534/74671594-2ed69780-51b4-11ea-9a28-e39343bf60bc.png)

[2020-02-17 16:35] e0003727 commented on #15
PS. It was on Marwin's profile.

[2020-02-17 17:10] gTalents-Sergio commented on #8
Hi Shanuk, have you applied these adjusted formulas to both prod and alpha? I still receive the same mistaken amount in my Potential Revenues. Thanks

[2020-02-18 08:06] shaunakwyn commented on #8
No @roberto-robles ,currently it's only in  alpha version. when you checked and confirm in alpha version then I move this to prod.
If you wants to move it without checking on alpha then I will.

Thank you.

[2020-02-18 08:10] shaunakwyn commented on #8
Also updated on live site.

Please check and acknowledge.

Thank you.

[2020-02-18 16:42] gTalents-Sergio commented on #8
It seems to be working fine now. Thanks!
@roberto-robles should we close this issue?

[2020-02-19 13:25] shaunakwyn commented on #10
@roberto-robles ,
Production version is now synced with alpha version and working as required now.

Please check and ack.

Thank You.

[2020-02-20 14:36] salvadorgtalents opened #16 "Admin - Vacancy details - add supplier info"
In Vacancy details add suppliers information, even they haven't uploaded a candidate yet. Example:
http://www.gtalents.tech/vacancies/133/showVacancy

![image](https://user-images.githubusercontent.com/61281336/74944726-0faa5680-53bc-11ea-84d5-2fc13e7d3496.png)

[2020-02-20 16:02] gTalents-Sergio opened #17 "Dashboard > Invoices: Invoice Amount error"
In the "Invoices" section, the invoice "Amount" should change for "Gross Amount" and the number should be the final real commissions' earning for each user (not the final salary as it is now):
Example:
Total Billing (Not approximate but the real one) = USD 37,500
Commissions = 42%
Gross Amount = USD 15,750 (Instead of USD 20,000,000 which is crazy haha)

![image](https://user-images.githubusercont

[2020-02-21 05:20] shivani-IW commented on #11
@roberto-robles As per our discussion Kindly please apply ready label then we will move to start working on it.

[2020-02-21 15:12] gTalents-Sergio opened #18 "~~Dashboard > Historical Revenues calculation error~~ Remove Historical Revenue"
There is an error in Historical Revenues.

The displayed revenues must be only the projects that have been successfully closed with a placement (Hiring a candidate), not the ongoing ones.

![image](https://user-images.githubusercontent.com/60664540/75046137-92054a00-5492-11ea-8709-31a91479afaf.png)

[2020-02-22 09:18] roberto-robles commented on #17
@gTalents-Sergio I started working on this but I'll need your help as I am checking the records in the databases for invoices, non of the rules that you are stating above are being taking into account. Can we schedule a call next week to analyze this issue? I'd like to go with a real example from your side and on my side by inspecting both the code and the values in the database. So far I am just

[2020-02-24 15:26] roberto-robles commented on #10
@e0003727 could you verify if this is now working on your end, according to @shaunakwyn this was not synced in production by the time you verified it last week.

[2020-02-25 06:51] roberto-robles commented on #15
@e0003727 could you elaborate on these points rules? From what I understand everytime that a poster user creates a vacancy on the platform, it increases the user's company points. Is this assumption correct?

If so I imagine that it should be the otherway around if we delete a job opening from a user.

A few questions on this:

 - Are point increase/decrease linear? If not what are the rules.
 - F

[2020-02-26 14:36] gTalents-Sergio opened #19 "Spelling English - Index"
Instead of Salary = "Approximate Total Billing"
Instead of Global Talent Shift Icon = "Global Talent Shifter"
Instead of Comission = "Commission"

![image](https://user-images.githubusercontent.com/60664540/75354086-6ad7bf80-587a-11ea-820a-9428fb421f01.png)

In addition, please change the "Global Talent Shifter" Icon from a Graduated student to a Billionaire.
Also, in the map section, add a new lo

[2020-02-26 14:52] gTalents-Sergio opened #20 "Spelling English - Dashboard > Home Page"
Drop the word "Details" (there are two): Just "Total Candidates" and "Active Candidates"
Drop the word "Job" (there are two): Just "Placements"
The Chat box is in Spanish in the English page. Please switch to English and active the support chat

![image](https://user-images.githubusercontent.com/60664540/75355153-0ae21880-587c-11ea-8ec3-ae2874177bcb.png)

Drop the word "for": Just "5 Posts Expecti

[2020-02-27 05:36] roberto-robles commented on #20
@gTalents-Sergio fixed most of this in alpha, except for the Help/Ayuda chat button, it seems that is coming from an external iFrame, and it seems it picks the browser/OS language as default. We should look into that in a separate issue.

[2020-02-27 05:54] roberto-robles commented on #19
@gTalents-Sergio are we ok to change the label of "Global Talen Shift Icon" into *Global Talent Shifter" everywhere, these values are actually stored in the database so any other place where we use this label it will be changed as well, please confirm so i can push the change to alpha.

For the icon, any preference to use as the Billionaire icon?

[2020-02-27 11:59] gTalents-Sergio commented on #19
Yes, Robert, please change all of them. Thanks

Regards.

El jue., 27 de febrero de 2020 12:54 a. m., Roberto Robles <
notifications@github.com> escribió:

[2020-02-27 14:12] e0003727 opened #21 "Team : Unable to see other Job Opportunities & Candidates as Team Admin"
Team Admin should see and have access to all of its team job opportunities.

[2020-02-27 14:26] gTalents-Sergio opened #22 "Spelling English - Email Notifications"
Subject errors:
Instead of "Supplier Reject Invitation" = "Supplier has rejected your invitation"
Instead of "Invitation to participate in Job" = "Invitation to collaborate as Supplier"
Instead of "Supplier Accept Invitation" = "Supplier has accepted your invitation"

![image](https://user-images.githubusercontent.com/60664540/75452311-13038c00-5940-11ea-8ac6-cdf709b4f41c.png)

Email body:
Instead

[2020-02-28 11:00] shaunakwyn commented on #12
Hey @roberto-robles ,
Solution applied on both alpha as well as on Live.

Please check and verify.

[2020-02-28 15:20] salvadorgtalents opened #23 "Admin - Users - List"
http://www.gtalents.tech/user
We would like to have a better list that starts with the new or more recent registered users.
![image](https://user-images.githubusercontent.com/61281336/75560603-19ab0580-5a0b-11ea-8fcd-de974f9de83a.png)
![image](https://user-images.githubusercontent.com/61281336/75560651-334c4d00-5a0b-11ea-81e5-37d8b7bf8068.png)

[2020-02-28 15:31] salvadorgtalents opened #24 "Admin - Vacancies - List and Date"
http://www.gtalents.tech/vacancies

We would like to have a better list that starts with the new or more recent registered vacancies.
Add date in the menú and suppliers. (We share an example in the picture, but feel free to give us any recommendation)

![image](https://user-images.githubusercontent.com/61281336/75561498-b7530480-5a0c-11ea-8842-713530ee7959.png)

[2020-02-28 15:43] salvadorgtalents opened #25 "Admin - Messages - Date"
http://www.gtalents.tech/messages

We would like to have a better list that starts with the new or more recent message.
Add the opportunity.
![image](https://user-images.githubusercontent.com/61281336/75562792-ca66d400-5a0e-11ea-8c46-6561b4b11422.png)

[2020-03-02 15:08] roberto-robles commented on #12
@gTalents-Sergio could you please verify in live if the total billing calculation is now correct on this views?

[2020-03-02 15:43] roberto-robles commented on #24
@shaunakwyn can you take a look into this?

[2020-03-03 06:54] roberto-robles commented on #19
@gTalents-Sergio this issue is ready for verification in alpha.

[2020-03-03 16:53] salvadorgtalents opened #26 "Admin - Dashboard - New Users"
http://www.gtalents.tech/admin

We would like to see the new users or more recent users when we click there!
![image](https://user-images.githubusercontent.com/61281336/75798636-76c0f700-5d3c-11ea-92be-ffd5427513f4.png)

[2020-03-03 17:01] salvadorgtalents opened #27 "Admin - Users - Invited"
We would like to know the person who invited the potencial poster/supplier

![image](https://user-images.githubusercontent.com/61281336/75799704-0c10bb00-5d3e-11ea-8b42-e14e50060a20.png)

[2020-03-03 17:14] gTalents-Sergio commented on #19
I can see the Global Talent Shifter is now fixed but the word Commission is still written with one m

[2020-03-03 17:19] gTalents-Sergio commented on #19
Fixed in Alpha, ready to go to prod. Thanks

[2020-03-04 05:36] roberto-robles commented on #20
Deployed to LIVE

[2020-03-04 05:37] roberto-robles commented on #19
Deployed to LIVE

[2020-03-04 05:37] #19 closed, assigned to roberto-robles

[2020-03-04 05:37] #20 closed, assigned to roberto-robles

[2020-03-05 14:28] e0003727 opened #28 "Team Users - Users inviting same team members to posted jobs."
Users should not be able to invite other team members to their posted job opportunities

[2020-03-06 14:59] gTalents-Sergio opened #29 "Dashboard > Candidates' workflow error"
When hiring a candidate on the Dashboard as a Poster, a different candidate from the one that the Poster selected gets hired. So another Supplier gets notified that his/her candidate was selected when he/she wasn't.
Example: As Poster, the candidate Stephen Jenks got hired, I clicked on his record to move him forward from the "Interview" section of the workflow to the "Hired" section but the platf

[2020-03-07 21:07] roberto-robles commented on #12
If issue is fixed in live can we close this issue @gTalents-Sergio ?

[2020-03-08 20:18] roberto-robles commented on #17
@gTalents-Sergio is there a reason why we are creating duplicate invoice records on the database? I am seeing that the code that ends up creating the invoice record is duplicated one after another, that doesn't seem right, before I move that I'd like to check if that's expected or not.

To solve this issue, I created a migration to add the commission column on the invoice table, this will allow me

[2020-03-09 15:48] salvadorgtalents opened #30 "Admin - private/login"
http://www.gtalents.tech/private/login
We need others levels of admin, now we have only one user/admin and password with all the credentials, but we need user/admin with others levels of credentials

![image](https://user-images.githubusercontent.com/61281336/76230747-c8a8c780-61e9-11ea-96b7-476c8f41815b.png)

[2020-03-09 16:57] gTalents-Sergio opened #31 "Spelling Spanish - Index"
EXTRA 1: No encuentro el botón para cambiar a Inglés u otras lenguas
EXTRA 2: Hablamos de tú y no de usted (por favor cambiar todo)
1. Cambiar de "Asignaciones Activas" a = "Oportunidades Activas"
2. Quitar signos de interrogación (ambos)
3. "Contáctenos" = "Contáctanos" (hablamos de tú)

![image](https://user-images.githubusercontent.com/60664540/76235330-f5181000-61f8-11ea-8b8e-2b3c48e0735b.png)

[2020-03-09 18:14] gTalents-Sergio commented on #12
Thanks, it seems to be correctly calculated now. You may close this issue.
Thanks

Sergio Larios
Co-Founder
+52 1 55 8233 6303
www.gtalents.tech

Exchanging the right Talent among Recruiting Experts

El sáb., 7 mar. 2020 a las 16:07, Roberto Robles (<notifications@github.com>)
escribió:

[2020-03-10 04:47] roberto-robles commented on #17
Adding migrations and fix to alpha to review.

We need to reconcile existing records to fill the correct amount, as today, I only see 4 records in LIVE (actually 2 are repeated records for existing issue that will be fixed as part of this issue commit) @gTalents-Sergio could you please send me the poster and supplier commissions amounts so I can do the change in live DB?

<img width="1012" alt="Sc

[2020-03-10 05:55] roberto-robles commented on #17
So for that invoice, of 20,000,000 I belive we actually should be 200,000.00 right??
Calc: 200000 * 20 fee / 100 = 40,000 billing
Poster: 42% of 40000 =  16,800
Supplier: 40% of 40000 = 16,000

@gTalents-Sergio please confirm so I can update the values in the database.

[2020-03-10 06:00] #12 closed, assigned to shaunakwyn

[2020-03-10 14:34] gTalents-Sergio commented on #17
Hi Robert,

There were two confusions; the first one is the currency as the Final
Salary was JPY 19,000,000 (not 20 million, nor USD but 19 million Japanese
Yens).

Approximate Exchange Rate as per today OANDA's: 1 USD = 102.48 JPY
Then: JPY 19,000,000 = USD 185,359.83
Calc: 185,359.83 * 20 fee / 100 = USD 37,071.97 billing
Poster: 42% of total billing = USD 15,570.23
Supplier: 40% of total billin

[2020-03-10 17:31] gTalents-Sergio commented on #31
Additional miss-spells:
Presentar Candidatos = Presenta Candidatos
Cambiar todo el párrafo a = Publica una oportunidad, presenta candidatos y monitorea el progreso de las búsquedas.
![image](https://user-images.githubusercontent.com/60664540/76337940-11ce4980-62c6-11ea-9da0-b9e3d97d98bf.png)

---------------------------------
1. OPORTUNIDADES ACTIVAS
2. Mayor Comisión... Más Reciente
3. Me interes

[2020-03-11 14:42] gTalents-Sergio commented on #31
COMO POSTER
Nuestra plataforma y consultores expertos optimizarán tu interacción con los reclutadores más eficaces para cada una de tus Publicaciones.

COMO SUPPLIER
Encontrarás las más relevantes oportunidades, aprovechando tu experiencia y base de datos para presentar candidatos calificados y realizar colocaciones con éxito.

Cambiar CÓMO PARA COMENZAR = CÓMO EMPEZAR

![image](https://user-image

[2020-03-11 14:49] gTalents-Sergio commented on #31
Para ambos casos debe decir:

CONTÁCTANOS

![image](https://user-images.githubusercontent.com/60664540/76429736-79939b80-637d-11ea-879b-efbd6e391d7e.png)

[2020-03-12 14:24] e0003727 opened #32 "Admin expoused URL !"
We found a significant bug when any user -non admin- clicks on a link like this (pulled from the admin, but public URL at the end of the day):

http://www.gtalents.tech/vacancies/131/showVacancy

What happens is that the visitor goes into Login page and right after has access to the Admin panel. This should not be like this for security and obvious reasons.

[2020-03-13 04:49] roberto-robles commented on #17
Added a few changes to the Contract form, and invoices list:

<img width="999" alt="Screen Shot 2020-03-12 at 9 48 44 PM" src="https://user-images.githubusercontent.com/1258100/76590722-52d38300-64ab-11ea-9c16-9c7be2698feb.png">
<img width="1028" alt="Screen Shot 2020-03-12 at 9 48 31 PM" src="https://user-images.githubusercontent.com/1258100/76590727-5404b000-64ab-11ea-99f9-ef2ab45a9d9e.png">
<im

[2020-03-13 04:55] roberto-robles commented on #17
@gTalents-Sergio changes are ready to review in Alpha, please review.

[2020-03-13 12:17] shaunakwyn commented on #24
@roberto-robles sure, I will.

[2020-03-13 15:32] gTalents-Sergio opened #33 "Dashboard > Post Opportunity Error"
Just after finishing posting a job opportunity, the platform sends a Whoops message. It should go to the "Invite Suppliers" Section.

In this "Invite Suppliers" there should appear at the top the most active Suppliers (those who submit the larger number of "accepted candidates") and the Poster has to be able to invite several Suppliers at the time. If there is a check box in each Supplier and one

[2020-03-13 15:58] gTalents-Sergio commented on #22
When receiving a notification when a Poster has received a new candidate:
1. Please change the Subject to:
"Candidate received from Supplier"
2. The link goes to the Home Page and not to this particular Post in the platform

![image](https://user-images.githubusercontent.com/60664540/76637942-9d8be400-6519-11ea-9c3d-5c9c60aa41ab.png)

[2020-03-13 19:00] roberto-robles commented on #10
Closing as we push the fix already to prod.

[2020-03-13 19:00] #10 closed, assigned to nobody

[2020-03-14 13:20] shaunakwyn commented on #24
Hey @roberto-robles ,
I just push changes for 2 issues :
1) issue #24 : current one
2) detected during my flow testing which is "create vacancy" at admin side is not working

this both changes pushed in **"gTalents-devs-repo"**.

check it.

[2020-03-14 17:58] roberto-robles commented on #24
Hi @shaunakwyn , reviewed your changes, overall looks good, just left a few comments on a PR.

[2020-03-14 17:59] roberto-robles commented on #24
Also to make things more agile, could you attach screenshots to the issue so @salvadorgtalents and others can preview the changes, just to catch early feedback.

Thanks.

[2020-03-14 18:12] roberto-robles commented on #17
Applied disclaimer fixes in LIVE and updated invoice record to show the right amounts of commissions and USD amount. If there's no more feedback, I am closing this issue for now.

[2020-03-14 18:13] #17 closed, assigned to roberto-robles

[2020-03-15 12:02] gTalents-Sergio commented on #17
Gracias!

El sáb., 14 de marzo de 2020 1:12 p. m., Roberto Robles <
notifications@github.com> escribió:

[2020-03-16 06:49] roberto-robles commented on #25
![Screen Shot 2020-03-15 at 11 48 06 PM](https://user-images.githubusercontent.com/1258100/76729911-71d64d00-6717-11ea-85da-641067f3c9ac.png)

@salvadorgtalents this is how it will look. Please let me know if this works for you so I can push it to alpha tomorrow.

[2020-03-16 08:55] shaunakwyn commented on #24
sure @roberto-robles ,

![issue 24](https://user-images.githubusercontent.com/42769743/76739251-f82f7500-6791-11ea-80a3-6dc4d50557e2.png)

[2020-03-16 11:39] shaunakwyn commented on #18
issue solved locally and changes pushed to **"[issues-from-devs/issue18](https://github.com/roberto-robles/gtalents-code/tree/issues-from-devs/issue18)"** branch repository.

![image](https://user-images.githubusercontent.com/42769743/76752845-5403f900-67a6-11ea-886f-846e1e9dffe5.png)

![image](https://user-images.githubusercontent.com/42769743/76752936-61b97e80-67a6-11ea-971c-01655d278a1c.png)

[2020-03-17 12:47] shaunakwyn commented on #11
Hey @roberto-robles ,
issue solved locally and changes pushed to "[issues-from-devs/issue11](https://github.com/roberto-robles/gtalents-code/tree/issues-from-devs/issue11)" branch repository.

![Filter on page 2](https://user-images.githubusercontent.com/42769743/76857444-71ef5d80-687b-11ea-8682-a946fbb3e1cf.png)

Thank you.

[2020-03-17 16:11] roberto-robles commented on #25
This is ready to review in both alpha and live. Please verify @salvadorgtalents

[2020-03-17 16:54] roberto-robles commented on #32
- [x] - Protect admin view for unauthorized users.
 - [x] - Add friendly url to quick share
 - [ ] - Button to send email notification to send vacancy (Phase 2).

[2020-03-18 08:41] shaunakwyn commented on #24
@roberto-robles , @salvadorgtalents
changes applied to alpha. Please check it and ack.
Thank you.

[2020-03-18 08:45] shaunakwyn commented on #18
@roberto-robles , @gTalents-Sergio
Changes applied to alpha version. Please check and ack.

[2020-03-18 08:51] shaunakwyn commented on #11
@roberto-robles changes applied on alpha please check.

[2020-03-18 14:15] gTalents-Sergio opened #34 "Dashboard > As Poster, a Few Errors appear in the "Copied Link" new window while sharing an opportunity"
When a Poster is sharing a job opportunity through the "Copied link", in the new window there appear a few errors:

![image](https://user-images.githubusercontent.com/60664540/76969554-87ef3380-68f8-11ea-8fa0-47ccb708238d.png)

Extra: Languages mixture English/Spanish
1. Approximate Total Billing is misscalculated
2. The commissions may vary, please indicate that the commission for the Supplier wi

[2020-03-18 22:16] gTalents-Sergio opened #35 "Dashboard > Poster > Supplier Duplicate"
This supplier appears twice. Opportunity 164

![image](https://user-images.githubusercontent.com/60664540/77012556-294ba900-693c-11ea-845e-da41f709f11a.png)

[2020-03-19 14:04] e0003727 opened #36 "Shared Job Opportunities URL - Missing Job Title"
On shared job opportunities URLs, the job titile is not visible and it has to be there on top of the webpage. Thanks!

[2020-03-19 14:25] e0003727 commented on #32
We found the same pattern on the following Admin URLs:

http://www.gtalents.tech/invoices/list
http://www.gtalents.tech/messages

[2020-03-19 14:29] gTalents-Sergio commented on #18
Hi Shaunak, there is a confusion, the revenues are only generated when the opportunity is successfully closed, when a candidate is "Hired", not only when the status goes to finish. Please correct.

[2020-03-20 05:59] shaunakwyn commented on #18
Hello @gTalents-Sergio ,
       So, based on this I have some cases that needs to be clear...

![image](https://user-images.githubusercontent.com/42769743/77140026-2ff23180-6a9e-11ea-9700-d2e8d94e76f0.png)

I have to follow this, right?

[2020-03-20 17:51] roberto-robles commented on #32
@salvadorgtalents @e0003727 this one is ready for verification in alpha, I also added admin role verification for
 - http://alpha.gtalents.tech/invoices/list
 - http://alpha.gtalents.tech/messages

<img width="1195" alt="Screen Shot 2020-03-20 at 9 47 05 AM" src="https://user-images.githubusercontent.com/1258100/77191765-b0159880-6a98-11ea-9aab-a19cee82b405.png">

[2020-03-23 02:58] roberto-robles commented on #31
Fixed all translation issues listed above, also fixed the language switcher that it was broken in all the page. @gTalents-Sergio please verify if everything works as expected in alpha, if so then I'll deploy it to LIVE later this week.

[2020-03-23 03:00] roberto-robles commented on #24
@salvadorgtalents can you verify if above works for you in ALPHA? if so then we can proceed to move changes to LIVE.

[2020-03-23 14:18] gTalents-Sergio commented on #31
Thanks Robert, just a couple of details. the title "Asignaciones Activas"
should say "Oportunidades Activas" instead.

And the box in the right of "ESCALANDO NIVELES EN GTALENTS" is still in
English

The rest seems awesome! Thanks

Sergio Larios
Co-Founder
+52 1 55 8233 6303
www.gtalents.tech

Exchanging the right Talent among Recruiting Experts

El dom., 22 mar. 2020 a las 21:58, Roberto Robles (

[2020-03-23 15:59] roberto-robles commented on #32
Verified in alpha ready to move to LIVE

[2020-03-23 16:01] roberto-robles commented on #31
Also check occurrences of "Proveedores" that should remain in english to Suppliers.

[2020-03-23 16:02] e0003727 commented on #31
De este punto, hay otros dos keywords "aumentar" en el index que tendrían que ser actualizados por "incrementar".

[2020-03-23 16:05] e0003727 commented on #31
Faltó arreglarlo, aún sale el texto anterior. Igualmente el punto 3.

[2020-03-23 16:22] e0003727 commented on #18
@shaunakwyn

1) Ok
2) Ok
3) Ok

[2020-03-24 01:34] roberto-robles commented on #31
Changes and feedback applied to LIVE. Please review, if everything looks good, we can close this issue. @gTalents-Sergio @e0003727

[2020-03-24 01:38] roberto-robles commented on #32
This one has been also applied to LIVE, @salvadorgtalents please review.

[2020-03-24 02:12] roberto-robles commented on #34
Phew... I was taking a look into the code that renders the shared page... all those values that you are pointing out @gTalents-Sergio are completely hardcoded in the template... it doesn't matter the values set in the DB or your level... those values won't change. Also the whole page was missing localization/translation treatment. I need more time to entirely fix this page.

[2020-03-24 02:23] roberto-robles commented on #36
Fixed in alpha, also page should show proper translations when language selected is spanish.

The amounts shown at the bottom of the page are completely hardcoded, we're already tracking that issue in https://github.com/http-gtalents-tech/gTalents/issues/34

[2020-03-24 14:14] gTalents-Sergio commented on #31
It seems to be ok now. If Juan doesn't have any comments, let's close this
issue. Thanks!

Sergio Larios
Co-Founder
+52 1 55 8233 6303
www.gtalents.tech

Exchanging the right Talent among Recruiting Experts

El lun., 23 mar. 2020 a las 20:34, Roberto Robles (<notifications@github.com>)
escribió:

[2020-03-24 15:09] gTalents-Sergio commented on #34
In case you think we need to redesign the entire share link, we can discuss
it.

Thanks,

Sergio Larios
Co-Founder
+52 1 55 8233 6303
www.gtalents.tech

Exchanging the right Talent among Recruiting Experts

El lun., 23 mar. 2020 a las 21:13, Roberto Robles (<notifications@github.com>)
escribió:

[2020-03-24 17:02] e0003727 opened #37 "Index / Dashboard - Wrong % Participation shown for Suppliers"
It seems that there is a problem with the calculations on Suppliers and it is not well displayed at the gT main webpage as it should show for every new job opportunity and to suppliers as Newbies (always starting on 40%):

![image](https://user-images.githubusercontent.com/60405534/77454870-cf4a5800-6e01-11ea-8f3b-a62050e6e0b6.png)

That said, it is important to verify the independence for each us

[2020-03-25 19:56] shaunakwyn commented on #18
@e0003727 thanks for confirmation 👍

[2020-03-28 06:27] roberto-robles commented on #35
@shaunakwyn can you take this?

[2020-03-30 15:55] #36 closed, assigned to roberto-robles

[2020-03-30 16:17] salvadorgtalents commented on #24
Well done, go ahead!!! let's move the changes to LIVE version

[2020-04-02 18:58] salvadorgtalents opened #38 "Admin - Vacancy details -"
http://www.gtalents.tech/vacancies/137/showVacancy

We would like to have the resumes that the suppliers sent in this part.

![image](https://user-images.githubusercontent.com/61281336/78257473-1e098900-74b7-11ea-9b76-b4644c61da15.png)

[2020-04-06 05:41] #32 closed, assigned to roberto-robles

[2020-04-06 05:42] #31 closed, assigned to roberto-robles

[2020-04-06 05:42] #25 closed, assigned to roberto-robles

[2020-04-06 15:18] salvadorgtalents opened #39 "Register - LinkedIn"
http://www.gtalents.tech/register

We can't register with the option of LinkedIn

![image](https://user-images.githubusercontent.com/61281336/78573542-75c52e80-77ee-11ea-99e1-dccaba0f06ae.png)

[2020-04-06 15:20] e0003727 opened #40 "Opportunities - As Supplier - showing wrong info"
While browsing and clicking in Opportunities / As Suppliers, the long list of job opportunities include pending and inactive job opps (although they all show as Active in the results) and even some job opportunities that are not visible for the Admin (i.e. 152, 155).

[2020-04-06 15:25] #24 closed, assigned to roberto-robles, shaunakwyn, salvadorgtalents

[2020-04-13 12:46] shaunakwyn commented on #18
@roberto-robles ,

issue solved locally and changes pushed to "scratch/18-fix-Historical-Revenues-calc-error" branch repository checkout pull request.

Thank you 😄

[2020-04-16 13:31] e0003727 commented on #27
We would need to keep a record of the emails inserted by active users while inviting new potential users to become suppliers for any positions. This way we can track these registries as Admins.

[2020-04-20 15:03] gTalents-Sergio opened #41 "Dashboard > Post > Add the "Payment Due Date" field"
Please add the field "Payment Due Date" just after "Total Search Fee" in all posts.

The suppliers need to know the "Payment Due Date". This is a mandatory info that is submitted by the poster when creating a post.

[2020-04-21 01:12] roberto-robles commented on #18
@shaunakwyn I am taking down the historical revenue links from the header, we found redundancy in this page as with the invoice list page.

[2020-04-21 07:11] e0003727 opened #42 "Admin Invoices - Missing columns / Edition features"
In addition to other financial breakdown amounts (for Poster, Supplier, gT), please include the following invoice status:

Pending from employer
Pending from poster
Processing payment from gT to Supplier
Partially Paid
Fully Paid

![image](https://user-images.githubusercontent.com/60405534/79835947-3be05480-83b8-11ea-96f5-034a1a6047ed.png)

Nonetheless, clarify on who's number is appearing in Edit

[2020-04-24 11:47] shaunakwyn commented on #18
Okay @roberto-robles 👍

[2020-04-25 12:15] shaunakwyn commented on #22
@roberto-robles ,

issue solved locally and changes pushed to "scratch/22-fix-Spelling-English-Email-Notifications" branch repository checkout pull request.

Thank you 😄

[2020-04-27 07:32] roberto-robles commented on #41
@gTalents-Sergio please verify in alpha

[2020-04-27 07:32] roberto-robles commented on #38
This issue is ready for verification in alpha @salvadorgtalents , please verify.

[2020-04-27 14:43] gTalents-Sergio commented on #41
Thanks Robert, ready to go live

Sergio Larios
Co-Founder
+52 1 55 8233 6303
www.gtalents.tech

Exchanging the right Talent among Recruiting Experts

El lun., 27 abr. 2020 a las 2:32, Roberto Robles (<notifications@github.com>)
escribió:

[2020-04-27 21:01] salvadorgtalents opened #43 "Admin - Message - Usuer Register and post opportunities"
We need to receive notification to the support email in regards to the below topics in the platform

- New User registrations
- When User invited suppliers*
- New Vacancy registrations
- When the poster edit the vacancy
- When the poster eliminate the vacancy
- When the vacancie is finished
- When the users send message between them
- When the supplier wants to participate in the position
- When t

[2020-04-27 23:04] salvadorgtalents opened #44 "Admin - Download database - Users and Vacancies"
We need the option to download user visualization and vacancies as database.

With this information for Users:
Number
Full Name
Code
Email
Points
Credits
Date
Status
Country
Last Connection

Example:
![image](https://user-images.githubusercontent.com/61281336/80425740-e6b9ac80-88a9-11ea-9012-87fc1785d57e.png)

With this information for vacancies

Number
Position
Location
Openings
Posted by
Contact

[2020-04-27 23:06] salvadorgtalents commented on #38
Done!!!

[2020-04-27 23:48] salvadorgtalents opened #45 "Admin - Vacancies - Filters"
http://www.gtalents.tech/vacancies

This part does not work.
![image](https://user-images.githubusercontent.com/61281336/80430853-7ca70480-88b5-11ea-9a01-f39d2be9b9ee.png)

We found two page listings

![image](https://user-images.githubusercontent.com/61281336/80431141-4d44c780-88b6-11ea-8efa-f1d3323d8fe4.png)

The searcher and all the filter only works in the current page

![image](https://user-i

[2020-04-28 00:04] roberto-robles commented on #41
Deployed to live, closing this issue for now. @gTalents-Sergio

[2020-04-28 00:04] #41 closed, assigned to roberto-robles

[2020-04-28 00:05] roberto-robles commented on #38
Deployed to live, closing this issue for now. @salvadorgtalents

[2020-04-28 00:05] #38 closed, assigned to roberto-robles

[2020-04-28 17:02] salvadorgtalents opened #46 "Admin - Vacancies - Bug"
Please find a video below with the information.

https://drive.google.com/file/d/1o3wrlzh1fRB9GEOMcSvGx6_66eQYzxYp/view?usp=sharing

[2020-05-06 20:54] salvadorgtalents opened #47 "Admin - Users - Registro"
http://www.gtalents.tech/user/225/edit

En la sección de editar usuario, que nos permita avanzar aunque no se hayan registrado todos los campos, actualmente no nos permite avanzar a ver toda la información completa:

![image](https://user-images.githubusercontent.com/61281336/81227298-d0020c80-8fb1-11ea-84e3-013fab01cf3a.png)

[2020-05-06 21:11] salvadorgtalents opened #48 "Admin - Vacancies view"
http://www.gtalents.tech/vacancies

We would like to add a new column the job description and employer description information

![image](https://user-images.githubusercontent.com/61281336/81228700-1f493c80-8fb4-11ea-937a-b3170358fe04.png)

[2020-05-07 13:14] salvadorgtalents opened #49 "Admin - Users - Users Sessions"
It does not Works

http://www.gtalents.tech/user

![image](https://user-images.githubusercontent.com/61281336/81230307-da72d500-8fb6-11ea-9f2f-2895c1371904.png)

http://www.gtalents.tech/user/85/sessions

![image](https://user-images.githubusercontent.com/61281336/81230387-01c9a200-8fb7-11ea-8215-b04574e131d9.png)

[2020-05-09 21:58] #18 closed, assigned to roberto-robles, shaunakwyn, gTalents-Sergio

[2020-05-12 16:00] roberto-robles opened #50 "As a User > Opportunities search is showing Vacancies in Pending state"
We should only show Active vacancies in the Search page.

@e0003727 could you please provide more information on this?

For now the new criteria would be to only show Active vacancies.

[2020-05-12 23:35] salvadorgtalents opened #51 "Admin - Vacancies - No Info"
We dont have all the critical information in the admin, example:

Payment Due Date
Payment Installments
General Conditions
Approximate Total Billing

![image](https://user-images.githubusercontent.com/61281336/81755065-5d939f80-947d-11ea-8c29-ed5ef0550bd0.png)

[2020-05-12 23:54] salvadorgtalents opened #52 "Vacancies as Usuers and Admin"
http://www.gtalents.tech/vacancies/step/1

In this step when you don't select the language and click on next, you get the WHOPS screen
**But the biggest problem is that the opportunity appears as active in the admin**

![image](https://user-images.githubusercontent.com/61281336/81756097-60dc5a80-9480-11ea-925f-297aaf321381.png)
![image](https://user-images.githubusercontent.com/61281336/81756245-d

[2020-05-13 00:01] salvadorgtalents opened #53 "Bug Usuers - Vacancies"
Users view vacancies pendings as active in the portal

[2020-05-13 22:09] salvadorgtalents opened #54 "Admin - View languages for Vacancies in admin vacancy detail view."
http://www.gtalents.tech/vacancies/190/showVacancy

Languages do not appear in the admin view

![image](https://user-images.githubusercontent.com/61281336/81869906-78781980-953a-11ea-8fdd-e41c704502d3.png)

![image](https://user-images.githubusercontent.com/61281336/81870783-36e86e00-953c-11ea-8dfd-bdc0ecc7d7c4.png)

[2020-05-13 22:39] salvadorgtalents opened #55 "Automatic email"
Send an automatic email when data is missing from the user registration.
We would like to discuss and share more information about this topic ASAP

[2020-05-13 22:53] salvadorgtalents opened #56 "Admin - Notification Bell"
The notification bell does not work properly

![image](https://user-images.githubusercontent.com/61281336/81874053-b2e5b480-9542-11ea-9fda-7614820af286.png)

[2020-05-13 23:05] salvadorgtalents opened #57 "Vacancies - Country/state list"
Not all the states of the Republic are found to register users and vacancies

[2020-05-13 23:14] salvadorgtalents opened #58 "Vacancies - add exclamation point"
Add an exclamation point in General Payment Terms & Conditions with the explanation

*Please Double check with Juan Carlos

![image](https://user-images.githubusercontent.com/61281336/81875130-32748300-9545-11ea-8449-a530896be7cc.png)

[2020-05-13 23:27] salvadorgtalents opened #59 "Index - Box Form"
The box doesnt work to send the form from the index

![image](https://user-images.githubusercontent.com/61281336/81875872-f04c4100-9546-11ea-9240-3bfc9e1db3be.png)

[2020-05-13 23:32] salvadorgtalents opened #60 "Vacancies - terms of service"
* Accept terms of service does not work

[2020-05-17 10:18] e0003727 commented on #50
Hi Roberto,

This is the urgent issure we checked on call last week. I believe it has been reported but please let us know in case you need us to describe the issue in detail.

Best,

JC

[2020-05-18 10:21] shaunakwyn commented on #8
@roberto-robles
what's for me in this one ?

[2020-05-18 23:38] roberto-robles commented on #35
@leopastorg I'm assigning this to you.

[2020-05-22 16:12] gTalents-Sergio opened #61 "Opportunities > As Poster - Creating a new Post - Key Questions NOT mandatory field"
As Poster while creating a new Post, please set the Key Questions field as NOT mandatory.

Thanks

[2020-05-22 16:41] roberto-robles commented on #58
can you provide more information @salvadorgtalents what does this icon will do?

[2020-05-22 17:19] leopastorg commented on #35
This solution has already been published in branch: https://github.com/roberto-robles/gtalents-code/tree/scratch/35-supplier-duplicate

[2020-05-25 14:58] gTalents-Sergio commented on #57
When creating a post or registering/Signing up, please set the state and cities as a NON-Mandatory Field as no all locations are being displayed in our database.

[2020-05-25 18:35] gTalents-Sergio opened #62 "Post new opportunity forms - Disable both "Next" and "Done" buttons when required fields are missing"
During registration/signing up or posting, please unable the “Next Step” or “Done” buttons when mandatory fields are not filled so users don't get the "please fill this field" message.
Make sure all mandatory fileds have their * or legend stating that they are mandatory.
Thanks

[2020-05-26 06:26] leopastorg commented on #57
These changes have already been published here https://github.com/roberto-robles/gtalents-code/tree/scratch/57-country/state

[2020-05-26 06:32] leopastorg commented on #62
Hello, greetings Sergio.
Do you think you can indicate the specific sections or modules with some capture please?
Thanks.

[2020-05-26 15:42] gTalents-Sergio commented on #62
Sure, Leo
https://gtalents.tech/vacancies/create
![image](https://user-images.githubusercontent.com/60664540/82920801-61bfc280-9f3d-11ea-9491-d77c8f1b34ff.png)

[2020-05-26 15:44] gTalents-Sergio commented on #57
That link is broken, can you re-send? Is this solved in alpha? I didn't see it in live. Thanks

[2020-05-26 16:15] roberto-robles commented on #43
- [  ] New User registrations
- [  ] When User invited suppliers*
- [  ] New Vacancy registrations
- [  ] When the poster edit the vacancy
- [  ] When the poster eliminate the vacancy
- [  ] When the vacancie is finished
- [  ] When the users send message between them
- [  ] When the supplier wants to participate in the position
- [  ] When the supplier send candidate

[2020-05-26 16:17] roberto-robles commented on #43
@leopastorg por favor vamos a emoezar agregando como primer  deliverable las siguientes dos notificaciones:

 - New User registrations
 - New Vacancy registrations

These admin emails should go to **support@gtalents.tech**.

[2020-05-26 22:03] leopastorg commented on #57
Yes it should already be solved in alpha, you can try it there!

[2020-05-27 01:00] roberto-robles commented on #57
this is not in alpha yet, @leopastorg I'll push all fixes to alpha tonight.

[2020-05-27 01:01] roberto-robles commented on #57
also, Sergio, Chava and Juan don't have access to the code repo yet. I'll be moving that code to this org soon.

[2020-05-27 01:18] leopastorg commented on #57
Ok, fine!

[2020-05-27 02:26] roberto-robles commented on #50
This issue has been already uploaded to Alpha and Live, @salvadorgtalents can you and Valeria verify if it's working as expected? If so can we close this issue?

[2020-05-27 05:24] leopastorg commented on #43
HIce una prueba para support; support@gtalents.tech, puedes comentarme si ves el correo, gracias!

[2020-05-29 22:32] SupportgTalents commented on #54
Yes it is ok.

[2020-05-30 01:04] roberto-robles commented on #43
@salvadorgtalents @gTalents-Sergio

We enabled the first two notifications to solve this issue.
 - [ ] New opportunity has been created
 - [ ] New user has signed up in gTalents

Both are ready for verification in alpha. Please check and if they work as expected we can move forward to the next set of notifications listed in this issue.

[2020-06-01 16:02] roberto-robles commented on #43
@leopastorg please focus in the following notifications:

 - [ ] When the supplier wants to participate in the position
- [ ]  When the supplier send candidate

[2020-06-02 00:30] SupportgTalents commented on #43
This issue has been verified and it's ok, we can move into the site.

[2020-06-02 15:44] gTalents-Sergio commented on #61
Verified, Ready to go live

[2020-06-02 15:45] gTalents-Sergio commented on #57
Verified in Alpha, Ready to go live

[2020-06-03 15:57] roberto-robles commented on #62
@gTalents-Sergio I changed the scope of this issue to only include the new opportunity forms.
I'll open another one for the signup/registration process.

[2020-06-03 15:58] roberto-robles opened #63 "Signup/register forms next/save/submit buttons must be disabled unless user enters all required fields."
Same thing that we did with the new opportunity form #62

[2020-06-04 22:08] SupportgTalents commented on #54
Could you please move it to live?

[2020-06-04 22:18] SupportgTalents commented on #48
The filters appears very extended, could you reduce the columns please?

![image](https://user-images.githubusercontent.com/66039973/83816022-1452fc00-a687-11ea-9526-a97dcc848e63.png)

[2020-06-04 22:33] leopastorg commented on #48
Sure, i modify this!

[2020-06-05 00:03] leopastorg commented on #48
Ready in this commit': https://github.com/roberto-robles/gtalents-code/pull/45/commits/5993661059be11a60bae61b14ed48452dded66f3

[2020-06-05 00:26] gTalents-Sergio commented on #62
OK thanks, cheers

El mié., 3 de junio de 2020 10:57 a. m., Roberto Robles <
notifications@github.com> escribió:

[2020-06-05 15:50] SupportgTalents commented on #48
Hello! Seems like it stills with large columns

[2020-06-05 18:38] roberto-robles commented on #48
Sorry for the confusion @SupportgTalents this has not been uploaded yet to alpha is still WIP.

[2020-06-06 05:12] roberto-robles commented on #57
Deployed to LIVE

[2020-06-06 05:13] roberto-robles commented on #61
Deployed to LIVE. @gTalents-Sergio please don't add the Ready to verify in LIVE tag, I use it to tag those issues that are already deployed to LIVE

[2020-06-06 05:35] roberto-robles commented on #43
@SupportgTalents these notifications are ready to review in alpha

[2020-06-06 05:37] roberto-robles commented on #48
This has been fixed in both Alpha and Live

[2020-06-06 05:37] roberto-robles commented on #48
Closing this for now, if any new issue arises we will reopen.

[2020-06-06 05:37] #48 closed, assigned to leopastorg

[2020-06-06 14:52] gTalents-Sergio opened #64 "Dashboard > Hide / disable the entire "credits" section"
Please hide and disable the entire "credits" section. Instead of this credits section, please display the user's rank and avatar

[2020-06-08 13:21] gTalents-Sergio commented on #61
Noted

Sergio Larios
Co-Founder
+52 1 55 8233 6303
www.gtalents.tech

Exchanging the right Talent among Recruiting Experts

El sáb., 6 jun. 2020 a las 0:13, Roberto Robles (<notifications@github.com>)
escribió:

[2020-06-08 14:53] roberto-robles commented on #64
<img width="603" alt="Captura de pantalla 2020-06-08 a la(s) 7 47 40 a  m" src="https://user-images.githubusercontent.com/1258100/84044396-5ec0cb00-a95c-11ea-9dde-149223f70a4b.png">

Hide above sections, and replace it with information about the current level. Display the level icon

[2020-06-08 15:07] roberto-robles opened #65 "Set paypal account for buying credits"
- Fix options
   - 5, 10, 20, 50, 100, 500 USD
 - Setup account with finance@gtalents.tech in paypal
 - Ensure credits are assigned to user after transaction is successful.

[2020-06-08 15:11] #54 closed, assigned to leopastorg

[2020-06-08 15:12] #57 closed, assigned to leopastorg

[2020-06-08 15:20] #50 closed, assigned to nobody

[2020-06-08 15:25] roberto-robles opened #66 "Opportunities without State or country data were breaking multiple views that accessed that information."
Issue in alpha only.

[2020-06-08 15:54] roberto-robles commented on #43
- [ ] When the poster edit the vacancy
 - [ ] When the poster eliminate the vacancy
 - [ ] When the vacancy is finished

[2020-06-10 08:16] leopastorg commented on #43
This emails notifications it's now avaliable!

[2020-06-10 17:07] roberto-robles commented on #66
This has been fixed in both alpha and live as this was breaking multiple views, @SupportgTalents could you verify it?

[2020-06-10 17:08] roberto-robles commented on #64
@SupportgTalents @gTalents-Sergio this is ready for verification in both LIVE and ALPHA

[2020-06-10 17:09] roberto-robles commented on #63
@SupportgTalents this is ready for verification in both alpha and live

[2020-06-10 20:39] SupportgTalents commented on #63
Yes it works in live, but the link directs you to an unsecured page. Chava sent you an image via WhatsApp.

[2020-06-10 20:47] SupportgTalents commented on #64
We reviewed this in LIVE and it's ok

[2020-06-11 13:31] gTalents-Sergio commented on #64
Ready to close

[2020-06-12 15:32] roberto-robles commented on #59
I think we already fixed this one when we removed the hardcoded emails from innowyn, could you verify if this is working as expected @leopastorg

[2020-06-12 15:34] roberto-robles commented on #60
@salvadorgtalents could you please tell us where exactly this is not working?

@leopastorg in the meantime please check the ToS in the register form, I believe this refers to when viewing ToS on the register/signup views it was taking the users to a Woops! 404 not found page.

[2020-06-12 15:34] roberto-robles commented on #53
This has been already fixed closing for now

[2020-06-12 15:34] #53 closed, assigned to nobody

[2020-06-12 15:40] roberto-robles commented on #66
no new issues were reported, closign this for now

[2020-06-12 15:40] #66 closed, assigned to roberto-robles

[2020-06-12 15:40] #64 closed, assigned to leopastorg

[2020-06-12 15:41] roberto-robles commented on #63
Closing this, the link comes from the notifications, we would check that with Leo.

[2020-06-12 15:41] #63 closed, assigned to leopastorg

[2020-06-12 15:41] roberto-robles commented on #61
Closing for now.

[2020-06-12 15:41] #61 closed, assigned to leopastorg

[2020-06-12 15:42] roberto-robles commented on #62
@gTalents-Sergio @SupportgTalents can we get confirmation if this fix is working as expected?

[2020-06-12 15:44] roberto-robles commented on #51
@salvadorgtalents besides below fields, anyother field that you want to add to the details vacancy view?

Payment Due Date
Payment Installments
General Conditions
Approximate Total Billing

[2020-06-12 15:45] roberto-robles commented on #35
This was fixed a couple of weeks ago, @gTalents-Sergio could you verify if this is solved on your end in LIVE site?

[2020-06-12 15:59] roberto-robles commented on #46
@SupportgTalents @salvadorgtalents this has been fixed and is ready for verification in alpha, please take a look and let us know if you find any issue

[2020-06-12 16:01] roberto-robles commented on #43
@gTalents-Sergio @salvadorgtalents @SupportgTalents please check and review below notifications:

 - When the poster edit the vacancy
 - When the poster eliminate the vacancy
 - When the vacancy is finished

@leopastorg let's wrap up this issue by implementing the last notification on the list:

 - [x] When the users send message between them

[2020-06-12 17:55] gTalents-Sergio commented on #62
Yes it seems to be working. Just to confirm that sometimes, even though
every mandatory field is filled, the buttons are not getting enabled until
the user reconfirms filling all fields.

Sergio Larios
Co-Founder
+52 1 55 8233 6303
www.gtalents.tech

Exchanging the right Talent among Recruiting Experts

El vie., 12 jun. 2020 a las 10:43, Roberto Robles (<notifications@github.com>)
escribió:

[2020-06-12 18:02] roberto-robles commented on #62
Thanks for the update @gTalents-Sergio, @leopastorg could you please take a
look at what Sergio mentions?

El vie., 12 jun. 2020 a las 10:55, gTalents-Sergio (<
notifications@github.com>) escribió:

--
========================
Roberto Robles Orozco
Software Engineer

[2020-06-12 18:17] leopastorg commented on #62
Of course @roberto-robles , I already check those details.

[2020-06-13 06:08] leopastorg commented on #43
@roberto-robles the last notification vial email it's now avaliable!

[2020-06-13 07:26] leopastorg commented on #47
This change it's now available in the scratch/47

[2020-06-13 07:40] leopastorg commented on #59
Sure @roberto-robles , I already check this!

[2020-06-15 04:32] roberto-robles commented on #47
@leopastorg please don't post updates in here unless there is a question, this can be confusing to the rest of the team, as they only care when we push code to alpha or live. They don't have visibility of the PRs or branches for that matter.

[2020-06-15 14:43] #35 closed, assigned to leopastorg

[2020-06-15 14:55] roberto-robles opened #67 "Fix subject email notifications:"
A Candidate has been proposed -> Candidate has been presented

[2020-06-15 14:55] #22 closed, assigned to roberto-robles, shaunakwyn

[2020-06-15 15:08] roberto-robles commented on #60
- [x] In firefox the ToS autolaunches in the register page and cannot be dismissed.

[2020-06-15 15:19] gTalents-Sergio opened #68 "Dashboard & Email Notification > User should not interact on inactive Opportunities"
I recently received a new candidate from a Supplier in an opportunity that was placed Paused a few weeks ago. Please make sure the Supplier is unable to submit candidates to inactive (Paused or Closed) opportunities and gets an email notification when an opportunity in which he or she is engaged gets a status modification:

As Supplier = Please unable the "Send Candidates" Button to all Paused or

[2020-06-15 15:31] roberto-robles commented on #8
<img width="1120" alt="Captura de pantalla 2020-06-15 a la(s) 8 29 04 a  m" src="https://user-images.githubusercontent.com/1258100/84676603-90004480-aee2-11ea-9322-54f759ce0c61.png">

[2020-06-15 16:25] leopastorg commented on #67
Ready this change on branch scratch/67

[2020-06-15 16:30] leopastorg commented on #59
From mi local, this work fine!

![DeepinScreenshot_select-area_20200613030525](https://user-images.githubusercontent.com/65189889/84682654-8d5e1900-aefb-11ea-9e72-6d31d966b4b6.png)

[2020-06-15 20:30] roberto-robles commented on #59
This seems to be working @salvadorgtalents @SupportgTalents could you verify, and if so, close this issue?

[2020-06-16 21:10] SupportgTalents opened #69 "Notifications in the support email"
- The email notification about modified vacancies sends to the index page without a security lock, even if it is previously logged in from the admin

![image](https://user-images.githubusercontent.com/66039973/84827573-4864e000-afea-11ea-904c-18850e13d451.png)
![image](https://user-images.githubusercontent.com/66039973/84827640-603c6400-afea-11ea-8a8d-87474fba7f7b.png)

- Candidate submission noti

[2020-06-16 23:23] leopastorg commented on #60
Hi, @roberto-robles this solve is in the PR 60 if you like to review!

[2020-06-17 20:44] SupportgTalents opened #70 "Chat messages between users"
Chat between users doesn't work properly.

- [ ] Users and admin do not receive new message notifications on the chat.

[2020-06-17 21:23] SupportgTalents commented on #69
The emails from candidates received do not indicate which supplier attached it, neither the name of the candidate.

![image](https://user-images.githubusercontent.com/66039973/84951882-b5de4280-b0b6-11ea-85fd-61e6101c1c31.png)

[2020-06-17 21:35] SupportgTalents commented on #69
@roberto-robles

We would like to receive an email notification when:

1. The poster reviewed/opened the candidate's CV

2. When there is a change in the candidate's status

3. When a poster sends a message to a supplier or vice versa

About the first two points we would like to be able to see it directly on the board as well

[2020-06-18 23:08] #59 closed, assigned to leopastorg

[2020-06-22 20:59] SupportgTalents opened #71 "Suppliers displayed by admin and users don't match"
Senior Software Developer vacancy is seen by admin with 3 suppliers participating in the vacancy, but user views only one supplier

**POSTER**
![image](https://user-images.githubusercontent.com/66039973/85334716-51015e80-b4a1-11ea-8d26-6d951a0eb976.png)

**ADMIN**
![image](https://user-images.githubusercontent.com/66039973/85334735-59f23000-b4a1-11ea-9afd-8b1d4a595999.png)

[2020-06-23 05:22] roberto-robles commented on #39
@SupportgTalents @salvadorgtalents @gTalents-Sergio this is ready for verification in alpha.

[2020-06-23 05:23] roberto-robles commented on #62
@gTalents-Sergio looks like Leo fixed the issue with some fields that were not properly validating could you give it another try?

[2020-06-23 05:25] roberto-robles commented on #43
All notifications are ready for verification in alpha @SupportgTalents could you please verify and if it looks good then we can move it to production

[2020-06-23 05:26] roberto-robles commented on #67
I verified this in alpha.

[2020-06-23 05:27] roberto-robles commented on #47
@SupportgTalents @salvadorgtalents this is ready for verification in alpha, please take a look.

[2020-06-23 22:30] SupportgTalents commented on #47
@roberto-robles it's ok. Ready to LIVE.

[2020-06-23 23:56] SupportgTalents commented on #39
@roberto-robles I received a notification that I had a successful registration with LinkedIn and redirect to fill the data. but the second part of the registration doesn't progress even though I filled all the data.

![image](https://user-images.githubusercontent.com/66039973/85478614-30f59c00-b582-11ea-9c18-32a9cee09b34.png)

[2020-06-24 00:00] roberto-robles commented on #39
@SupportgTalents if the buttons validations are still having issues, let's put your findings in that specific issue, the scope of this one is that users are able to register and login using LinkedIn as an authentication provider.

[2020-06-24 16:22] SupportgTalents opened #72 "Button validations in the registers"
After a notification that I had a successful registration on LinkedIn and redirected me to complete the data, the second part of the registration does not progress even though it's complete.

![image](https://user-images.githubusercontent.com/66039973/85593027-4a432a80-b60c-11ea-8e52-8d4467ad6a3d.png)

[2020-06-25 14:04] gTalents-Sergio commented on #62
it seems to be working now, thanks!

Sergio Larios
Co-Founder
+52 1 55 8233 6303
www.gtalents.tech

Exchanging the right Talent among Recruiting Experts

El mar., 23 jun. 2020 a las 0:23, Roberto Robles (<notifications@github.com>)
escribió:

[2020-06-25 14:56] roberto-robles commented on #52
@salvadorgtalents this looks like it has been fixed already, could you and @SupportgTalents confirm?

[2020-06-25 14:58] roberto-robles commented on #44
@leopastorg can you check a way to achieve this? the idea is that from the admin we can expose a link to download the current table as a XLS spreadsheet

[2020-06-25 17:18] leopastorg commented on #44
Of course @roberto-robles, I already check it!

[2020-06-26 16:06] roberto-robles commented on #58
@leopastorg check with @e0003727 and @salvadorgtalents what exactly needs to be added in the popover/overlay of the exclamation point icon. After you get that information please proceed with this enhancement.

[2020-06-26 16:07] roberto-robles commented on #55
This should be covered now with the register button validations. Can you confirm if this is still needed @SupportgTalents @salvadorgtalents ?

[2020-06-26 16:10] roberto-robles commented on #14
@leopastorg please request exactly what this issue refers to, and implement it as soon as you get bandwidth

[2020-06-26 17:15] SupportgTalents commented on #46
@roberto-robles

Could you please move it to live? We cant review the vacancies aren't divided into repeated pages because we don't have many vacancies such as in live.

The vacancies duplicated are fixed

[2020-06-26 17:26] SupportgTalents commented on #52
@roberto-robles  Yes, it works, ready to close.

[2020-06-26 17:43] leopastorg commented on #14
Ok @roberto-robles, I ask with Salvador!

[2020-06-26 17:45] leopastorg commented on #58
Ok @roberto-robles, I already review it with them!

[2020-06-26 22:01] SupportgTalents commented on #55
It works, but we found an issue in the telephone field in the first step, even it's not a mandatory field, the next button isn't marked in blue to advance but it does allow to continue.
![image](https://user-images.githubusercontent.com/66039973/85903825-e7e55800-b7cc-11ea-9f74-39d5832cfeef.png)

[2020-06-28 02:39] roberto-robles commented on #68
@gTalents-Sergio Notifications for this are ready for verification in LIVE, @leopastorg I don't see in the code the part of the change that disables the button to send candidates if the opportunity is inactive, can you confirm if this was fixed in https://github.com/roberto-robles/gtalents-code/pull/60 ???

[2020-06-28 02:42] roberto-robles commented on #43
All of these have been deployed to live, @SupportgTalents can you acknowledge if evertything works as expected? if so, could you please close this issue? Any new feedback let's track it on individial issues.

[2020-06-29 05:15] e0003727 commented on #58
Thanks Leo!

Did you set the provided text, correct?

Best,

Confisa International Group

Juan Carlos Jaramillo I.

CEO

+1 (954)  837-6446  US Office

+972 (58) 4900582  ISR Direct

jcji@confisagroup.com <mailto:jcji@confisagroup.com>

www.confisagroup.com

www.elitebrain.com

www.linkedin.com/in/juancarlosjaramillo <http://www.linkedin.com/in/juancarlosjaramillo>

De: Roberto Robles <notificatio

[2020-06-29 16:45] SupportgTalents opened #73 "Suppliers without participation"
@roberto-robles

We would like to implement these lines of action for inactive suppliers:

- Two weeks after the supplier has not interacted on the vacancy that applied, receives a notification reminding that he/she hasn't submitted candidates and if they don't submit them within the next two weeks, automatically they separate from the vacancy.

[2020-06-29 17:18] SupportgTalents commented on #71
@roberto-robles It continues appeared 3 suppliers for admin and one for the user

[2020-06-29 19:29] leopastorg commented on #58
Hello Juan @e0003727, yes i established the message you provided me!

[2020-06-29 23:09] SupportgTalents commented on #43
@roberto-robles We don't receive these notifications yet:

1. When the user invites external and internal suppliers
2. When the users send message between them

In the first point, we would like to know:
- Which user invites someone else
- What's the email of that invited user
- What's the link for the register that the invited user will receive

In the second point, we would like to know which us

[2020-06-29 23:18] SupportgTalents commented on #72
@roberto-robles It stills with the not working  bottom for "next step" in alpha and live

![image](https://user-images.githubusercontent.com/66039973/86065319-eb7b1800-ba34-11ea-9a6a-2cf55504e76f.png)

[2020-06-29 23:27] SupportgTalents commented on #47
It doesn't work in LIVE
![image](https://user-images.githubusercontent.com/66039973/86065806-2d588e00-ba36-11ea-9f37-c5c0f4018f2b.png)

[2020-06-30 06:04] leopastorg commented on #68
Sure @roberto-robles, i already tag you!

[2020-06-30 19:10] e0003727 commented on #58
Many thanks!

Confisa International Group

Juan Carlos Jaramillo I.

CEO

+1 (954)  837-6446  US Office

+972 (58) 4900582  ISR Direct

jcji@confisagroup.com <mailto:jcji@confisagroup.com>

www.confisagroup.com

www.elitebrain.com

www.linkedin.com/in/juancarlosjaramillo <http://www.linkedin.com/in/juancarlosjaramillo>

De: leopastorg <notifications@github.com>
Enviado el: Monday, June 29, 2020 10

[2020-06-30 19:21] leopastorg commented on #58
You are welcome!

I am attentive to any detail!

On Tue, Jun 30, 2020, 2:10 PM e0003727 <notifications@github.com> wrote:

[2020-06-30 21:38] SupportgTalents opened #74 "Change of status due updates"
When there's an update of a vacancy, the status changes to pending. We would like to keep the status it had, even the vacancy has new modifications.

![image](https://user-images.githubusercontent.com/66039973/86179447-e62ed380-baef-11ea-8e4a-9196a02e6b42.png)
![image](https://user-images.githubusercontent.com/66039973/86179513-052d6580-baf0-11ea-998d-dee6cad6771b.png)

[2020-07-01 15:41] SupportgTalents opened #75 "Issues presented by users"
**Stuck page**

The page gets stuck when the user is browsing through the opportunities published by him, from going from one page to another or when clicking on the same page number (he has to do that so it shows all the opportunities on that page).

![image](https://user-images.githubusercontent.com/66039973/86263383-c696ba00-bb86-11ea-9dd6-fc989ffe4c50.png)

[2020-07-01 15:48] SupportgTalents commented on #75
**Poster cant see all the suppliers**

The platform indicates he has two suppliers for the Latam Regional SD role
![image](https://user-images.githubusercontent.com/66039973/86264269-e67aad80-bb87-11ea-90a3-26400ab47ba5.png)

But when he opens the opportunity, only appears one supplier.
![image](https://user-images.githubusercontent.com/66039973/86264447-26419500-bb88-11ea-9fa0-179af43426da.png)

[2020-07-01 15:58] SupportgTalents commented on #75
**User notifications**

The user's not getting emails notification from the platform about:

- Suppliers acceptance or asking to participate
- Candidates submitted to any opportunity
- Messages received from suppliers

[2020-07-01 21:04] SupportgTalents commented on #75
**Whoops page on the vacancies screen**

Whoops page appears when users or even admin want to see vacancies or change the status.

![image](https://user-images.githubusercontent.com/66039973/86291372-80f0e600-bbb4-11ea-8c2b-2740e26ea79b.png)

[2020-07-02 15:59] gTalents-Sergio opened #76 "Dashboard > Main Dashboard as Poster won't let go to next page of Posts"
In the main dashboard, the platform won't let users go to next page of posts. Clic on number 2 or button "Next" and the platform gets stuck forever as below:

![image](https://user-images.githubusercontent.com/60664540/86381157-9caac980-bc52-11ea-99bb-6bee355bd129.png)

[2020-07-02 20:26] SupportgTalents opened #77 "Invited users"
We would like to receive an email notification about invited users when:

- [ ] An active user invites a person to registration, specifying:

1. Who's the active user who invited them
2. What's the vacancy for which they were invited
3. The email of the invited user

- [ ] ~When the invited user completes the registration. (Because until now only updates from invited to unverified in the platform

[2020-07-02 20:30] SupportgTalents commented on #74
We are receiving email notifications of updates in vacancies regarding salary that the poster is not actually doing

![image](https://user-images.githubusercontent.com/66039973/86406558-f4f4c200-bc78-11ea-835d-dbb4e95d4bcf.png)

[2020-07-03 20:03] roberto-robles opened #78 "Admin: Align export button with Add User button and Add Vacancy buttons on top."

[2020-07-03 20:05] roberto-robles commented on #78
![Captura de pantalla 2020-07-03 a la(s) 1 03 56 p  m](https://user-images.githubusercontent.com/1258100/86495356-e3b9bd00-bd2d-11ea-8be2-593d81226b57.png)

[2020-07-03 20:22] roberto-robles opened #79 "User Dashboard: Edit profile wizard, doesn't have all changes done on the registration wizard"

[2020-07-03 20:47] roberto-robles opened #80 "Ensure all notification templates use the right doamin."
- [ ] Get rid of all www.globaltalentshift.com mentions in notifications.

[2020-07-04 06:56] roberto-robles commented on #72
@SupportgTalents this has been fixed and is ready for verification in alpha

[2020-07-04 06:56] roberto-robles commented on #69
@SupportgTalents this has been fixed and is ready for verification in alpha

[2020-07-04 06:57] roberto-robles commented on #47
@SupportgTalents this has been fixed and is ready for verification in alpha

[2020-07-06 15:16] #52 closed, assigned to nobody

[2020-07-07 18:08] SupportgTalents commented on #47
@roberto-robles Yes, thank you. This issue has already been reviewed in alpha and it works correctly. Later, the label was changed to verify it in LIVE but that's where it doesn't work.

[2020-07-07 18:43] SupportgTalents commented on #72
@roberto-robles yes it works in ALPHA, it's ready to LIVE.

[2020-07-07 19:22] SupportgTalents commented on #70
Closed because is repeated on other issues (_Issues presented by users #75_  for active users and _Notifications in the support email #69_ for admin)

[2020-07-07 19:22] #70 closed, assigned to leopastorg

[2020-07-07 19:26] SupportgTalents commented on #69
@roberto-robles
We would like to receive notification emails when a supplier accepts the poster invitation to participate in their vacancy.
Until now, we only know when the supplier is trying to participate directly.

[2020-07-07 19:28] SupportgTalents commented on #69
We cant review it because there's presenting an issue to post vacancies in ALPHA

![image](https://user-images.githubusercontent.com/66039973/86832704-26e19c00-c05e-11ea-9b6a-836d76a9e86f.png)

[2020-07-07 19:29] SupportgTalents commented on #69
We cant review it because there's presenting an issue to post vacancies in ALPHA

![image](https://user-images.githubusercontent.com/66039973/86832785-437dd400-c05e-11ea-920a-6ad4bcd0184f.png)

[2020-07-07 19:31] SupportgTalents opened #81 "Zendesk"
We can't see the name or code of active users who send messages to Zendesk from their session, only about one member.

![image](https://user-images.githubusercontent.com/66039973/86833025-99eb1280-c05e-11ea-90bb-a82f4ad753b8.png)

[2020-07-08 23:12] SupportgTalents commented on #75
**Issue for uploading candidates**

A poster uploaded two candidates for the Senior Software Test Engineer, UAE role but it appeared a whoops page on the second candidate.

There was an email notification for support which indicate only one candidate. However, both candidates are seen from admin.

Poster and supplier can see only one candidate

![image](https://user-images.githubusercontent.com/66

[2020-07-08 23:14] SupportgTalents commented on #75
**Change status of candidates**

The poster presented a _whoops page_ when he wants to change the status of a candidate.

[2020-07-08 23:18] SupportgTalents commented on #75
**Number of candidates doesn't match**

Supplier dashbord indicates two candidates in the North America Regional Sales Director role, however when he enter the vacancy only one appears.

Admin cant sees neither of them.

![image](https://user-images.githubusercontent.com/66039973/86979647-75b73080-c147-11ea-84c7-054ea2c4672a.png)

[2020-07-09 15:53] SupportgTalents commented on #75
**Users can delete candidates**

The platform crashes when the suppliers removed the candidates. (Pending topic to review with the team).

@e0003727

[2020-07-09 23:14] SupportgTalents commented on #69
We would like to receive an email notification when a supplier is rejected to participate in a vacancy.

![image](https://user-images.githubusercontent.com/66039973/87099707-13763280-c210-11ea-8f4a-1a08ccbb0f78.png)

[2020-07-12 16:53] roberto-robles opened #82 "Delete / Edit candidates"
- [x] Remove option to delete candidates.
 - [x] Archive option will be presented instead, setting a flag on the record so archive candidates will be excluded from supplier's list. Both in the user dashboard and in any other list where a candidate can be selected.
 - [ ] ~Allow editing, but keep historical changes of all candidates~
 - [x] Send a notification to admin when a candidate needs an upd

[2020-07-12 17:47] e0003727 opened #83 "Candidates Submission & DB"
Two different scenarios:

1. Two Suppliers in the same Job Opportunity submitting the same candidate: The supplier that submits the same candidate for the same job opportunity is rejected because it is duplicated for such role.

Followed to this...

2. Any Supplier submitting the same candidate for a different Job Opportunity is not allowed to even upload the candidate on gT (even before submittin

[2020-07-12 17:59] roberto-robles opened #84 "Pending Vancacies, shouldn't show share button and interested suppliers"

[2020-07-12 18:06] roberto-robles opened #85 "Add marker in post vacancies, and register forms so users know what files are required."

[2020-07-12 18:47] leopastorg commented on #85
Just a question here @roberto-robles, the marker can be a asterisk for example!

[2020-07-13 05:57] roberto-robles opened #86 "Automatic redirect from http to https in LIVE environment"

[2020-07-13 05:58] roberto-robles commented on #86
Now any URL will be transformed from http to https, @SupportgTalents and @salvadorgtalents could you guys please verify if this works across all gtalents.tech?

[2020-07-13 06:03] #7 closed, assigned to nobody

[2020-07-13 15:05] roberto-robles commented on #83
- Candidates cannot be uploaded into the system due to email validations:
 - [ ] Upload a candidate should not be restricted by email as a unique key.
 - [ ] Presenting a candidate into an opportunity still requires a uniqueness validation so the same person candidate participate in the same opportunity multiple times through different suppliers.

[2020-07-13 15:16] roberto-robles commented on #34
- [x] Hide the commissions panel in the mean time

[2020-07-13 15:19] roberto-robles commented on #85
- [x] Use a red "*" and set a legend at the bottom

[2020-07-13 15:21] roberto-robles opened #87 "Maintain URL target if user is not logged in or does not have a valid session."

[2020-07-13 17:33] SupportgTalents commented on #86
@roberto-robles Yes, it works!

[2020-07-13 17:33] #86 closed, assigned to roberto-robles

[2020-07-13 19:44] leopastorg commented on #34
Ready this adjustment @roberto-robles!

[2020-07-13 21:06] leopastorg commented on #84
This change has been charged!

[2020-07-14 17:00] SupportgTalents commented on #74
Yes, it works.

[2020-07-14 17:00] #74 closed, assigned to leopastorg

[2020-07-14 17:00] SupportgTalents commented on #72
It works correctly

[2020-07-14 17:00] #72 closed, assigned to leopastorg

[2020-07-14 17:05] SupportgTalents commented on #69
It works.

[2020-07-14 17:05] #69 closed, assigned to leopastorg

[2020-07-14 17:19] SupportgTalents commented on #67
The email notification says "Candidate received from Supplier." It's ok.

[2020-07-14 17:19] #67 closed, assigned to leopastorg

[2020-07-14 17:25] SupportgTalents commented on #58
Yes, it's ok!

[2020-07-14 17:25] #58 closed, assigned to leopastorg

[2020-07-14 17:34] SupportgTalents commented on #60
The whoops page it's now resolved but that agreement is from last year. @roberto-robles can we update it? I sent the updated agreement at the first group meeting, please let me know if you need me to send it again.

![image](https://user-images.githubusercontent.com/66039973/87457368-dde59680-c5cd-11ea-83e9-d0915128faaf.png)

[2020-07-15 20:34] SupportgTalents opened #88 "Admin: Notification with updates on opportunities doesn't show all fields modified,"
When a poster made an update in the content of an opportunity, the email notification indicate a change in the salary even it was in another field.

Also, the status changes automatically on pending status but there's no email notification of the status changed.

![image](https://user-images.githubusercontent.com/66039973/87593151-9f74d800-c6b0-11ea-8c71-f2638ed02277.png)

[2020-07-17 16:10] roberto-robles commented on #88
@leopastorg please fix this one.

[2020-07-20 18:26] SupportgTalents opened #89 "Admin: add an option in admin panel so we can update vacancies status."
- We would like to have the option in admin to change any state of the vacancies.

@roberto-robles meanwhile please if you could help us to finish the next vacancies:

1. Compensation and Benefits (C&B) Manager (Tokyo, Japan)
2.  IT End User Support Manager / Team Leader (Chiba, Japan)
3. Network Engineer (Tokyo, Japan)

[2020-07-21 23:08] #80 closed, assigned to salvadorgtalents, leopastorg

[2020-07-21 23:11] #78 closed, assigned to leopastorg

[2020-07-23 15:43] SupportgTalents commented on #89
@roberto-robles while we have this issue resolved, could you please help us change the "finished" status to "on hold" in the next vacancies:

1. Senior Software Engineer - Remote
2. Sales Engineer (North Carolina)
3. Network Security Engineer

[2020-07-23 22:03] SupportgTalents opened #90 "Open field in rejected candidates"
We would like an open field for the poster to write the reasons /feedback when a candidate's status changes to rejected and receive that message to the support email and supplier (same as when changing a vacancy to on hold).

[2020-07-23 22:13] SupportgTalents opened #91 "Add submission date and current status of candidates"
We would like to see the submission date of the candidates and their actual status in the vacancy view from admin.

![image](https://user-images.githubusercontent.com/66039973/88343739-b0a09300-cd07-11ea-916e-f3c89545ac2b.png)

[2020-07-27 16:08] SupportgTalents commented on #75
Issues presented by the IKZQ user:

1. Error page when he selects "find opportunities" and "see more" in the supplier view.
2. After sending a request to participate as supplier, the vacancy doesn't appear anymore.

[2020-07-28 16:04] roberto-robles opened #92 "Vacancy post details and updates"
In opportunity lists for suppliers:
 - [x] Remove Call For Interview, Rejected, Hired pieces. Change Submitted Candidates for Active Candidates (any candidate that is in review, interviews... discard rejected, withdrawn, etc)

If User is not participating in opportunity yet:
 - [ ] Instead of Your guarantees blue box, replace with `Show status of all candidates participating in opportunity`
 - [ ]

[2020-07-28 18:21] SupportgTalents commented on #92
Possibility for suppliers to add more files than the CV, it'll not be mandatory but optional for vacancy cases that require forms.

[2020-07-28 18:51] SupportgTalents commented on #75
The supplier FAJQ doesn't appear in the chat of the vacancy Senior Global Project Manager CDMX in which is participating

![image](https://user-images.githubusercontent.com/66039973/88708488-532a8e80-d0d9-11ea-92b0-5c5de032e9a7.png)
![image](https://user-images.githubusercontent.com/66039973/88708503-57ef4280-d0d9-11ea-9b99-e661d029c8c2.png)

[2020-07-29 16:36] SupportgTalents opened #93 "Email notifications for registers by LinkedIn"
Admin doesn't receive email notifications when there are user registered by LinkedIn

[2020-07-31 17:33] SupportgTalents opened #94 "Users' chat"
- Review with the team if we allow the copy and paste in the chat

- Chat cannot be viewed in one position, if the users scroll up it automatically changes to the last message, so they cant review the first ones.

- The supplier FAJQ doesn't appear in the chat of the vacancy Senior Global Project Manager CDMX in which is participating
![image](https://user-images.githubusercontent.com/66039973/890

[2020-07-31 17:44] SupportgTalents opened #95 "Email notifications"
We would like to admin receive an email notification when a poster accepts the request of a supplier to participate in their vacancy. Specifying:

1. Code/name of the poster
2. Name of the vacancy
3. Code/name of the supplier that the poster accepted

[2020-07-31 17:44] SupportgTalents commented on #95
- Users stopped receiving email notifications. Example, user ENGU doesn't received an email notification for a participating request of the supplier TFTY.

![image](https://user-images.githubusercontent.com/66039973/89061729-d0990d80-d32a-11ea-87eb-0a7485df5d60.png)
![image](https://user-images.githubusercontent.com/66039973/89061824-03db9c80-d32b-11ea-9697-4797c030cdb0.png)

[2020-08-03 15:05] roberto-robles opened #96 "Guided tours"
- [ ] Find the best guided tour library that could solve our use cases.
 - [ ] User Dashboard (potential commisions, different sections, chat, candidates)
 - [ ] Accepted opportunity, worflows

[2020-08-04 16:04] roberto-robles opened #97 "Admin: Add ability to admin panel to remove suppliers to any opportunity"

[2020-08-04 23:32] SupportgTalents commented on #97
We would like to see the list of suppliers, date of approved by poster, candidates and date of submitted in a view vacancy by admin

Show vacancy now:
![image](https://user-images.githubusercontent.com/66039973/89353424-f8b2a480-d67b-11ea-9063-7da086fa104a.png)

Show vacancy propose:
![image](https://user-images.githubusercontent.com/66039973/89355368-d707ec00-d680-11ea-80fb-45cd34a14f03.png)

[2020-08-06 05:43] roberto-robles opened #98 "Keep historical changes of all candidates"
Continuation of #82

[2020-08-07 18:48] SupportgTalents commented on #95
It's ok!

[2020-08-07 18:48] #95 closed, assigned to leopastorg

[2020-08-10 14:57] e0003727 opened #99 "This field is required * change"
When Posting New Opportunities or at Registry, change the legend under every required field "This field is required" for "*" (keep the red color) and then place at the bottom of the page "* This field is required".

[2020-08-10 22:19] SupportgTalents opened #100 "Pending vacancies"
After uploading a vacancy in LIVE, it stills the notice remains that's in pending status by admin review, although it has already been activated and even has a supplier and candidate, and doesn't allow to see the supplier or review the candidate.

![image](https://user-images.githubusercontent.com/66039973/89837002-a5ce6680-db2d-11ea-9695-22b02953eaf4.png)

[2020-08-10 22:40] SupportgTalents commented on #84
It's ok

[2020-08-10 22:40] #84 closed, assigned to leopastorg

[2020-08-10 22:43] SupportgTalents commented on #85
It's ok.

[2020-08-10 22:43] #85 closed, assigned to leopastorg

[2020-08-10 22:49] SupportgTalents commented on #87
@roberto-robles It's ok, the URL and logged session is maintained, but the hyperlink for _"Message sent between users"_ redirects to another URL and can't see that message in admin view.

![image](https://user-images.githubusercontent.com/66039973/89838765-b41e8180-db31-11ea-8d8d-7a8c76c8c5b1.png)

![image](https://user-images.githubusercontent.com/66039973/89838598-3e1a1a80-db31-11ea-8523-b24d99c

[2020-08-10 23:06] SupportgTalents commented on #88
@roberto-robles @leopastorg  The issue cannot be reviewed cause after try to modify a section of a vacancy a whoops page appears. (All fields are complete)

![image](https://user-images.githubusercontent.com/66039973/89839308-090ec780-db33-11ea-85c5-aa9ff61f1e31.png)

[2020-08-11 01:53] leopastorg commented on #88
This is weird, it works for me correctly!

![DeepinScreenshot_select-area_20200810205213](https://user-images.githubusercontent.com/65189889/89848178-83e3dc80-db4b-11ea-821e-91b4c8a7db49.png)

[2020-08-11 15:40] roberto-robles opened #101 "Add list of languages on new Candidate form"

[2020-08-11 19:08] SupportgTalents commented on #88
@leopastorg  Yes, It's stills with the whoops page:

![image](https://user-images.githubusercontent.com/66039973/89938412-15029400-dbdc-11ea-94ae-05180de08e6a.png)

[2020-08-11 21:08] SupportgTalents commented on #93
@leopastorg I get a whoops page when I try to sign up with LinkedIn
![image](https://user-images.githubusercontent.com/66039973/89948888-85b1ac80-dbec-11ea-850b-858f4c3e398c.png)

[2020-08-11 22:16] SupportgTalents commented on #93
Update: Registration with LinkedIn was successful (MSKA user code) but there wasn't an email notification for support.

[2020-08-13 13:12] e0003727 opened #102 "Add 'Remote' as additional Location"
Please consider this for Job Opportunities, New User Registrations and Resumes' Submissions. Thanks!

[2020-08-17 15:17] roberto-robles opened #103 "Location feedback tool in new opportunities & registration"
- [x] Add an option to report missing location entries.
 - [x] Show popup with a small form (Send Country, State and City as open text).
 - [x] Send an email to support with the missing reported entries.
 - [x] Add a tool in admin panel so we can add missing entries.
 - [x] Add order by in all listings.

[2020-08-18 01:27] SupportgTalents opened #104 "Whoops page when modifying a vacancy"
After activating a test vacancy, with a change in the title and content, it appears a whoops page

![image](https://user-images.githubusercontent.com/66039973/90459592-6375ce00-e0c7-11ea-92bf-1066841555b4.png)
![image](https://user-images.githubusercontent.com/66039973/90459608-6b357280-e0c7-11ea-9ed6-88e2276bdfb5.png)

[2020-08-18 22:50] #71 closed, assigned to leopastorg

[2020-08-19 21:44] SupportgTalents opened #105 "Candidate notifications arrive incomplete"
The Head of Performance Improvement role received two candidates but there's was only one email and with incomplete information.

![image](https://user-images.githubusercontent.com/66039973/90692695-292d3d80-e23b-11ea-8244-1b87890449da.png)

[2020-08-24 15:33] gTalents-Sergio opened #106 "Dashboard > As Poster - Issues with workflow, vacancy details"
1. NEW CANDIDATES
   a. When clicking in VIEW PROFILE, a window opens but no message is being displayed
![image](https://user-images.githubusercontent.com/60664540/91064086-6eaf8900-e5f4-11ea-91ee-678fe4260f56.png)

   b. If I click on REJECT. The candidate is deleted and not rejected.
   c. For every status modification, a window with a text box as Poster is mandatory. The Poster needs to communi

[2020-08-24 23:07] SupportgTalents opened #107 "Add the ability to Admin to make content modifications to vacancies"
There was a try by admin to change the total search fee of a vacancy.

It appeared the advice of successfully updated, but it wasn't any change.

![image](https://user-images.githubusercontent.com/66039973/91104909-5fe8c680-e634-11ea-9763-22a4cbde008f.png)

[2020-08-25 17:25] SupportgTalents opened #108 "Unrecognized movements on the platform and non-existent notifications"
Poster and admin received notification that the candidate Miguel Angel Carmona was rejected in the ID role 218 (Senior Global Project Manager CDMX). The poster made no such change

![image](https://user-images.githubusercontent.com/66039973/91206819-67a87980-e6cd-11ea-8b31-005f32cbf032.png)

In the same sense, in the ID role 217 (Senior Global Project Manager), the poster noticed Carlos Carvajal a

[2020-08-25 17:31] SupportgTalents opened #109 "Duplicate notifications with different content"
After the poster closed vacancy 127 (Technical Project Manager USA), the supplier ENGU received two notifications of the same status with different content:

![image](https://user-images.githubusercontent.com/66039973/91207675-c0c4dd00-e6ce-11ea-8421-d49df6520690.png)
![image](https://user-images.githubusercontent.com/66039973/91207686-c4f0fa80-e6ce-11ea-95b0-4f4cd6320d07.png)

[2020-08-27 18:36] SupportgTalents opened #110 "Poster needs a field to write after rejecting a candidate"
Add a field to write when a poster rejects a candidate so the supplier automatically and obligatorily receives feedback. Admin receives this notification as well.

Design and method similar to when there's a change on a vacancy status :

![image](https://user-images.githubusercontent.com/66039973/91481525-31543100-e86a-11ea-867e-d8df1d3e04b4.png)

[2020-08-31 22:13] SupportgTalents opened #111 "Rejected candidates appear as deleted (no notification neither)"
1. Poster tried to reject a candidate two times but he appears in "new candidates". It's not shown in the rejected label.

2. The message on the poster's dashboard showed that the candidate was deleted.
![image](https://user-images.githubusercontent.com/66039973/91773658-ce85d100-ebac-11ea-9a62-2fe93623bcff.png)

3. From the admin, he is seen as deleted too
![image](https://user-images.githubuserc

[2020-08-31 22:25] SupportgTalents opened #112 "Enable email notifications in notes of candidates"
Enable email notifications to admin and users about notes when they send or accept candidates.

![image](https://user-images.githubusercontent.com/66039973/91774567-bfa01e00-ebae-11ea-9aae-9f22c09d89dd.png)
![image](https://user-images.githubusercontent.com/66039973/91774628-e199a080-ebae-11ea-844d-673daa4387e2.png)

[2020-09-01 15:56] roberto-robles opened #113 "Admin: Add ability to admin panel to add suppliers to any opportunity"

[2020-09-01 16:12] roberto-robles commented on #111
- [x] instead of deleted it should go to rejected status.
 - [x] Send a notification to admin and one for supplier after a candidate goes into rejected and to supplier.

[2020-09-01 19:21] SupportgTalents commented on #47
It works

[2020-09-01 19:21] #47 closed, assigned to leopastorg

[2020-09-01 19:22] SupportgTalents commented on #45
It works

[2020-09-01 19:22] #45 closed, assigned to leopastorg

[2020-09-01 19:23] SupportgTalents commented on #43
New updates of issues in notifications

[2020-09-01 19:23] #43 closed, assigned to leopastorg

[2020-09-01 19:24] SupportgTalents commented on #39
It works

[2020-09-01 19:24] #39 closed, assigned to roberto-robles

[2020-09-01 19:27] SupportgTalents commented on #46
It works

[2020-09-01 19:27] #46 closed, assigned to leopastorg

[2020-09-01 21:13] SupportgTalents commented on #44
The database to download has incomplete information and extra columns

Users:
![image](https://user-images.githubusercontent.com/66039973/91900520-6c88a280-ec64-11ea-8b29-bb1447812083.png)
![image](https://user-images.githubusercontent.com/66039973/91900560-7ca08200-ec64-11ea-8e35-7ff46f73ddf3.png)

Vacancies:
![image](https://user-images.githubusercontent.com/66039973/91906577-0a349f80-ec6e-11ea-

[2020-09-01 22:51] SupportgTalents commented on #107
New updates in issues of modifying vacancies

[2020-09-01 22:51] #107 closed, assigned to nobody

[2020-09-01 22:52] SupportgTalents commented on #104
It works

[2020-09-01 22:52] #104 closed, assigned to nobody

[2020-09-01 22:52] SupportgTalents commented on #100
Fixed

[2020-09-01 22:52] #100 closed, assigned to nobody

[2020-09-01 22:57] SupportgTalents commented on #75
Broken down

[2020-09-01 22:57] #75 closed, assigned to nobody

[2020-09-01 22:58] SupportgTalents commented on #56
New updates about issues with the bell

[2020-09-01 22:58] #56 closed, assigned to nobody

[2020-09-01 22:59] SupportgTalents commented on #55
Fixed

[2020-09-01 22:59] #55 closed, assigned to nobody

[2020-09-01 23:01] SupportgTalents commented on #51
To review with the new changes

[2020-09-01 23:01] #51 closed, assigned to nobody

[2020-09-01 23:18] SupportgTalents commented on #49
The "user sessions" button doesn't show any activity. (Evidence in the previous photo)

The information is only seen in "view user" button;
![image](https://user-images.githubusercontent.com/66039973/91915179-78ce2900-ec7f-11ea-9993-99a9c5a4256a.png)

[2020-09-01 23:22] SupportgTalents commented on #77
@leopastorg please review the previous issue registered too:

**Admin - Users - Invited #27**

[2020-09-01 23:26] SupportgTalents commented on #90
Duplicated

[2020-09-01 23:26] #90 closed, assigned to nobody

[2020-09-08 23:19] SupportgTalents opened #114 "Add a writing field for the poster for close an opportunity"
When a poster closes a vacancy, the platform opens a window with fields where the poster has a space to give a comment or feedback to the suppliers in the vacancy, so the comment can be individual and personalized because of their participation.

The window includes the list of suppliers and the list of candidates that the poster received (or not) from that supplier. Example:

![image](https://use

[2020-10-02 14:55] roberto-robles opened #115 "Generate registration link from admin so we support can follow up later"
Action must be visible from the list view in admin.

[2020-10-27 19:32] SupportgTalents opened #116 "Users view in Admin have a search for all pages"
We would like the search engine in the users' view to be able to crawl data on all pages, not just the current one.

Issue example:
![image](https://user-images.githubusercontent.com/66039973/97351711-bd2d0e00-1857-11eb-8665-636d94379093.png)
![image](https://user-images.githubusercontent.com/66039973/97351826-e6e63500-1857-11eb-88cd-9ea7c5ce9d3b.png)

[2020-10-29 17:22] SupportgTalents opened #117 "Extensions allowed to upload resumes"
We would like to only allow .doc or PDF extensions for suppliers to upload their candidates' CVs.

Example with .htm extension:
![image](https://user-images.githubusercontent.com/66039973/97609280-02c51480-19d9-11eb-8c7d-f3532e3a1303.png)

[2021-01-14 16:17] roberto-robles opened #118 "Drilldown from admin vacancy detail page into Candidate link should show interactions with the parent Vacancy"
<img width="487" alt="Screen Shot 2021-01-14 at 8 17 28 AM" src="https://user-images.githubusercontent.com/1258100/104617988-fe57e180-5640-11eb-99de-3c605159ee50.png">
![Uploading Screen Shot 2021-01-14 at 8.17.39 AM.png…]()

[2021-01-14 16:18] roberto-robles commented on #118
<img width="1280" alt="Screen Shot 2021-01-14 at 8 17 39 AM" src="https://user-images.githubusercontent.com/1258100/104618020-0c0d6700-5641-11eb-9812-925a0c381c07.png">

[2021-01-14 16:34] roberto-robles opened #119 "Invoce form, should have date validations."
- Don't allow dates in the past.
 - Get rid of existing date picker it has too many issues, keep it simple with dropdown selectors.
 - Validate upon entry that is a valid date.
 - Save contract instead of Contract Process

[2021-04-26 14:44] roberto-robles opened #120 "Typo in homepage -> 'Suplier' -> 'Supplier'"
Con el idioma en ingles, puedo ver este typo:

<img width="431" alt="Screen Shot 2021-04-26 at 7 43 44 AM" src="https://user-images.githubusercontent.com/1258100/116101984-25bc4280-a663-11eb-81b2-a8b901635dd8.png">

[2021-04-26 14:44] roberto-robles commented on #120
- Esto lo arreglo en 1 dia.

[2021-04-26 14:45] roberto-robles commented on #120
- Esta es una prueba.

[2021-04-26 15:11] #120 closed, assigned to nobody

[2021-05-03 19:54] adrianagtalent opened #121 "Check Vacancies in Alpha GTalents"
Hi Everybody!!!

Today, during our group meeting.
When we were checking Alpha Gtalents.
There was a situation on the Vacancies (List of registered vacancies)

The position name is Web Developer. In the morning was Active in yellow color now is Finished in the same color.
See the picture below.

![Report 1](https://user-images.githubusercontent.com/82895680/116925307-04d98b80-ac27-11eb-8a00-1e0aa5b

[2021-06-02 20:06] ccssmania commented on #117
Fixed in this PR
https://github.com/roberto-robles/gtalents-code/pull/225

[2021-06-02 20:27] roberto-robles commented on #117
@ccssmania we close issues only after they have been validated in alpha or prod. But thanks for add the mention on this one.

[2021-06-03 16:32] ccssmania commented on #121
Fixed in PR https://github.com/roberto-robles/gtalents-code/pull/226

[2021-06-03 21:58] adrianagtalent opened #122 "Account executive Post Error"
There is a ErrorException

After one of our users made the post another window open with the following message.

![unnamed](https://user-images.githubusercontent.com/82895680/120716353-ed92f580-c493-11eb-9497-63e9b378bf9e.png)

The post is in the draft no public yet.

[2021-06-03 22:07] adrianagtalent commented on #122
The user said the position name that has that problem is Data Engineer.

[2021-06-04 20:52] ccssmania commented on #122
I couldn't get into the error, does @roberto-robles has some idea about what is happening here.

[2021-06-08 00:30] adrianagtalent opened #123 "Hebrew option language for the Post"
One of the users contacts us because there is no Hebrew option language for the Post.
He means that when is going to make a post when the requirement is the candidate should know Hebrew there is not that option to select to make the post.

[2021-06-08 11:59] ccssmania commented on #123
This is a DB problem, there is no record with the name Hebrew in languages_types table or at least in mi local DB
@roberto-robles can you confirm

[2021-06-08 12:08] ccssmania commented on #116
@roberto-robles what do you think about use [Laravel DataTables](https://github.com/yajra/laravel-datatables) that is a serverside work of jQuery DataTables it could be a great improvement

[2021-06-09 23:54] ccssmania commented on #116
Check PR https://github.com/roberto-robles/gtalents-code/pull/229

[2021-06-15 15:23] roberto-robles opened #124 "CORPORATE: Add new layout for corporate users"
https://docs.google.com/document/d/1_nMz36Gcpgul3dM7XPMCgCxbJc_iwMUbCuEKha6H510/edit#heading=h.lzwcuvp1c6qh
<img width="592" alt="Screen Shot 2021-06-15 at 8 39 14 AM" src="https://user-images.githubusercontent.com/1258100/122082836-2f396f80-cdb5-11eb-8bcf-452314d18939.png">

[2021-06-15 15:24] roberto-robles opened #125 "CORPORATE: Authentication workflow"
https://docs.google.com/document/d/1_nMz36Gcpgul3dM7XPMCgCxbJc_iwMUbCuEKha6H510/edit#heading=h.qb528t8zunno

After successful login IF USER.TYPE === ‘corporate’
User must be redirected to /corporate/home
ELSE IF USER.TYPE === ‘recruiter’
User must be redirected to /admin

We are assigning a new role to corporate users so the check can be against the user contains role method that you already imple

[2021-06-15 15:25] roberto-robles opened #126 "CORPORATE: Implement new routes and controllers."
https://docs.google.com/document/d/1_nMz36Gcpgul3dM7XPMCgCxbJc_iwMUbCuEKha6H510/edit#heading=h.wp3abjffkgi

New routes:

/corporate/home

/corporate/assignments

/corporate/team

[2021-06-29 14:59] roberto-robles opened #127 "CORPORATE: Create Assignments list."
https://docs.google.com/document/d/1_nMz36Gcpgul3dM7XPMCgCxbJc_iwMUbCuEKha6H510/edit#heading=h.lijyqx4u81pu

<img width="1043" alt="Screen Shot 2021-06-29 at 8 19 45 AM" src="https://user-images.githubusercontent.com/1258100/123825317-a988ea00-d8b3-11eb-851c-149eb603a510.png">

[2021-07-20 14:16] roberto-robles opened #128 "Fix all links at the bottom of homepage."
- ToS, membership, privacy, social media links doesn't work.
 - Add a way so users can download their contract.
 - Add a Cookies modal to be GDPR compliant.

[2021-08-02 14:36] roberto-robles opened #129 "Ability to upload multiple documents for candidates apart from CV."

[2021-08-10 14:23] roberto-robles opened #130 "Lorem ipsum shows up for some users in registration."
![Terminos de uso gTalents](https://user-images.githubusercontent.com/1258100/128884381-2bf09883-582a-478e-8b21-7567f07a5097.jpg)

[2021-08-10 15:05] roberto-robles opened #131 "Ability to attach extra documents to candidates in a vacancy."

[2021-09-09 16:51] ccssmania opened #132 "Soft save corporate assignments"
We need to do a kind of "soft save" of assignments when complete each field or at least each section.

This can be done by adding the fields to the session of laravel via (axios, ajax).

[2021-09-09 16:54] ccssmania opened #133 "Notifications corporate"
check which kind of notifications will have corporate users and check the notifications div in layout (to be responsive).

[2021-09-21 15:20] roberto-robles opened #134 "Dashboard corporate"
- Reuse existing layout for corporate dashboard, just change metrics and some labels:
<img width="615" alt="Screen Shot 2021-09-21 at 8 19 09 AM" src="https://user-images.githubusercontent.com/1258100/134199037-e170bf3d-a796-40be-b076-3e852a89ba27.png">
<img width="1199" alt="Screen Shot 2021-09-21 at 8 19 22 AM" src="https://user-images.githubusercontent.com/1258100/134199069-495df852-b1ac-4b7a-9

[2021-09-27 14:46] roberto-robles opened #135 "Hide Levels and points references across Corporate side"
- Hide any mention of levels.
 - On every place where we show the current points for the logged in corporate user, add a link that will take users to a page where we explain how levels works or a PRF?

[2021-09-27 15:00] roberto-robles commented on #134
- Hide My Rank panel and the values in header for `Position, Points and Next Level in` and

[2021-10-04 14:48] roberto-robles commented on #128
LI - https://www.linkedin.com/company/gtalents/
Hide FB and Twitter
Hida all other broken links except Terms and Conditions, we will provide the PDF file to redirect users.

[2021-10-04 14:50] roberto-robles commented on #123
Already deployed in live

[2021-10-04 14:50] #123 closed, assigned to roberto-robles

[2021-10-04 14:52] #122 closed, assigned to nobody

[2021-10-04 15:21] ccssmania commented on #135
@magnum2334 Here!

[2021-11-12 21:46] adrianagtalent opened #136 "Issues as RECRUITER (Corporate version)"
Issues as RECRUITER (Corporate version)

1.-
After the post made on corporate versión.
Then is on the admin and ACTIVE on the platform to be seen on the Supplier version (Corporate).

![1](https://user-images.githubusercontent.com/82895680/141535107-d8b6f03e-f4fa-4674-98fd-6f3ec19097a4.jpeg)

2.-
The post is not on the top. In this case, the position is "ACCOUNT EXECUTIVE".
After, you put on the f

[2021-11-22 16:10] roberto-robles commented on #131
[CORPORATE AND RECRUITER]
table attachments:
id = AUTO
table = (vg_candidate, vg_vacancy [file_employer, job_description, perks], vg_vacancy_candidates [quizes, portfolio])
id_reference = 13
file_path = file.pdf
type = PDF
user = 169(sergio)
created
updated

[2022-02-01 19:00] roberto-robles opened #137 "Add demo video to gT index page"
- Add sticky button to footer of the index blade, use this as an example https://codepen.io/Ranjithkumar10/pen/ZOZvXW
 - Use `Go to demo` label for the sticky button.
 - Make sure Go to demo uses translations.
 - In the meantime point it out to any example youtube video, I'll get the real video link from @adrianagtalent .

** Please make sure that you pull latest master on your local, starting now